<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


{% include "header.html" %}




		
<link type="text/css" rel="stylesheet" media="screen" href="/static/style_start_page2.css" />


<link rel="stylesheet" type="text/css" href="/static/rangeslider.css">





</head>
  

  <body style="font-family: 'Roboto', sans-serif;;color: #4E4E4E;" onclick='reset_header()' >

    <div class="overlay" onclick='reset_sidebar()' ><div class="loader"></div> </div>


   <div class="modal_mobile_sidebar">					  
  	<div id="mySidenav" class="sidenav">

		</div>
</div> 
<div id="overall_page">

  
  {% include "modals.html" %}




		<div class="header_top_all" >
			<div class="header_top">asd</div>
		</div>
		<div class="header_top" style='background-color:#ffffff;height:50px;margin-top:10px;'></div>
		<div class="header_top_all" >
			<div class="header_top"></div>
			<div class="sidebar" >
				<div id="x-mask" class="mask">
					<div class="sidebar_content" ></div>
					<div class="header_top_line"></div> 	
				</div>
					
			</div>
	 		
		</div>
		<div class="header_top_line"></div> 	
	
	
	

	
		<div id="x-mask_2" class="mask">
			<div class='box_1_group'>
				<div class='box_1_1'  onclick='content_abrufen(0)' >
					<figure class="hover">
						<img id='box_1_1_image' src='/static/landing_page/171214 Christmas Startseite_1050b.jpg' class='img-responsive'></img>
					</figure>

				</div>
				


				<div class='box_1_2' >
					<div class='box_1_2_1' >
						<figure class="hover">
							<img id='box_1_2_image' src='/static/landing_page/171214 Banner Picture TLBC red_403h_1050b.jpg' class='img-responsive'></img>
						</figure>
						<div class='box_1_subtitle'><b><h1>BH Sets</b></h1><br><h3>BH Sets ab 29,95 €</h3></div>

					</div>
					
					<div class='box_1_2_2' >
						<figure class="hover">
							<img id='box_1_2_image' src='/static/landing_page/landing_page_rosen.jpg' class='img-responsive'></img>
						</figure>
						<div class='box_1_subtitle'><b><h1>Dein Showroom</b></h1><br><h3>Passgenaue Empfehlungen</h3></div>
					</div>
					
					
					<div class='box_1_2_3' >
						<figure class="hover">
							<img id='box_1_2_image' src='/static/landing_page/171214 Beide Models Sessel Startseite.jpg' class='img-responsive'></img>
						</figure>
						<div class='box_1_subtitle'><b><h1>VIP Club</b></h1><br><h3>Erfahre mehr!</h3></div>
					</div>
				</div>
				
				<span class="stretch"></span>
			</div>


					 
			<div class='box_2_group'>



				<div class='box_1_1' >
					<div class='box_2_1_1' >
						<figure class="hover">
							<img id='box_1_2_image' src='/static/landing_page/171216_Skinny_Lisa_Rose_514h_823b.jpg' class='img-responsive'></img>
						</figure>
						<div class='box_1_subtitle'><b><h1>Lisa Rose</b></h1><br><h3>70B - 85C</h3></div>
					</div>
					
					<div class='box_2_1_2' >
						<figure class="hover">
							<img id='box_1_2_image' src='/static/landing_page/171216_Curvy_Lea_Black_514h_823b.jpg' class='img-responsive'></img>
						</figure>
						<div class='box_1_subtitle'><b><h1>Curvy Lea</b></h1><br><h3>65B - 95F</h3></div>
					</div>
					

				</div>
				
			
			
			

				<div class='box_1_2' >
					<div class='box_1_2_1' >
						<figure class="hover">
							<img id='box_1_2_image' src='/static/landing_page/header_image_wide.jpg' class='img-responsive'></img>
						</figure>
						<div class='box_1_subtitle'><b><h1>Slips</b></h1><br><h3>Slips für 12,95€</h3></div>
					</div>
					
					<div class='box_1_2_2' >
						<figure class="hover">
							<img id='box_1_2_image' src='/static/landing_page/171216_Skinny_Eva_Black_514b_403h.jpg' class='img-responsive'></img>
						</figure>
						<div class='box_1_subtitle'><b><h1>Eva</b></h1><br><h3>70C - 85E</h3></div>
					</div>
					
					
					<div class='box_1_2_3' >
						<figure class="hover">
							<img id='box_1_2_image' src='/static/landing_page/171216_Skinny_Sophie_Nude_514b_403h.jpg' class='img-responsive'></img>
						</figure>
						<div class='box_1_subtitle'><b><h1>Sophie Nude</b></h1><br><h3>70B - 85E</h3></div>
					</div>
				</div>
				
				<span class="stretch"></span>
			</div>
		</div>
		</div>





<script src="/static/gerichte_uebersicht_laden_8.js" ></script>
{% include "header_sub.html" %}

<div class="mask_2">
	<div id="x-mask_2" class="mask">
		<div class='spalten_start_page_1'>Herzlich Willkommen bei Darling Lace, Deinem Online Shop für passende BHs, bequeme Panties und schmeichelnde Bademode.

Du suchst hochwertige BHs, die endlich perfekt passen, guten Halt geben und schön aussehen? Wir finden Deine richtige BH Größe und beraten Dich zu BH Modellen und Formen. Ob sexy Lingerie aus Spitze, süße Dessous in Pastell, Still BHs in großen Größen oder moderne Bikinis und Tankinis – hier findet jede Frau die perfekte Wäsche und Bademode. Besonders schwierig ist die Suche nach BHs und Bademode für eine große Oberweite. Wir helfen Dir, Deine richtige BH-Größe zu finden, damit der perfekte BH bald zu Dir nach Hause kommt. Wir bieten über 50 verschiedene BH Größen an, auch für große Cups, schmale Unterbrustbänder und große Größen. Von Unterbrustband 65 oder 70 bis zur BH Größe 100 und 105, von A Cup bis Cup G oder Cup H, wir bieten auch außergewöhnlichere Größen an.
	Sollte ich einen Bügel BH, einen Balconette BH oder eher ein Plunge BH tragen und in welcher BH Größe sollte ich ihn nehmen?

Die BH Suche hat ein Ende. Du möchtest endlich gut sitzende BHs, die perfekt zu Dir passen oder Du liebst einfach Überraschungen? Dann bestelle Dir unsere VIB Box und schon finden unsere Fitting Expertinnen die optimale Wäsche zu Deinen Kurven. VIB = Very Important Boobs! Du bekommst die BH Box mit einer Auswahl zugeschickt und kannst sie ganz in Ruhe zuhause anprobieren. Am Ende behältst und bezahlst Du nur, was Dir gefällt. Darling Lace bietet Dir Curated Shopping für BHs, Unterwäsche und Bademode. Du musst einfach nur unseren BH Fragebogen ausfüllen und schon geht es los. Dessous Shopping war noch nie so einfach!</div>
		<div class='spalten_start_page_2'>Ein richtig sitzender BH kann sogar Rückenschmerzen, Nackenschmerzen, Kopfschmerzen und andere Krankheiten verschwinden lassen. Dazu gibt es Panties, Strings, Slips und andere Unterwäsche nach dem Mix & Match Prinzip, die sich auch unter kurvenbetonender Kleidung nicht abzeichnen. Auch große BHs können sexy oder süß sein und durch die Co-Creation-Community entscheidest Du mit, was produziert wird. Durch unser innovatives Größensystem kannst Du leicht Deine optimale BH-Größe ermitteln und musst Dir keine Gedanken über Deine Körbchengröße machen. Bei uns gibst Du einfach Deinen Unterbrustumfang, Brustumfang und Hüftumfang an und unser Größenrechner berechnet Dir Deine richtige Größe. Darling Lace führt auch bügellose BHs, trägerlose BHs in großen Cups und Bikinis für große Größen. Wir kümmern uns um Deine Kurven!</div>
	</div>
</div>

<div class="header_bottom_all"><div class="header_detail"><div class="header-bottom"></div></div></div>



</body>

<script type="text/javascript"  class="wishlist_quantity" >{{wishlist_quantity | safe}}</script>
<script type="text/javascript"  class="cart_quantity" >{{cart_quantity | safe}}</script>

<script type="text/javascript"  class="lingerie_data" >{{lingerie_offerings | safe}}</script>
<script type="text/javascript"  class="lingerie_data" >{{lingerie_offerings | safe}}</script>
<script type="text/javascript"  class="warenkorb_daten" >{{warenkorb | safe}}</script>	
<script type="text/javascript"  class="colors" >{{colors | safe}}</script>	
<script type="text/javascript"  class="links" >{{links | safe}}</script>
<script type="text/javascript"  class="filter" >{{filter | safe}}</script>		
<script type="text/javascript"  class="wishlist" >{{wishlist | safe}}</script>
<script type="text/javascript"  class="bestellungen" >{{bestellungen | safe}}</script>
<script type="text/javascript"  id="start_page" >"Ja"</script>

<script type="text/javascript">load_header("{{login}}");links_laden("{{url}}");lingerie_selection_laden();</script>


</html>