.schliessen_alert
{
	position: absolute;
	
	margin-left:310px;
	cursor:pointer;
}


 

 
.eingabefelder{
	
	border:1px solid #e6e6e6 ;
	width:200px;
	height:30px;
	font-size:14px;

}

 
.links
{
	cursor:pointer;
	color: #DB7093;
	float:left;
	margin-right:5px;
	
}

.links_2
{
	cursor:pointer;
	color: #DB7093;
	float:right;
	font-size:12px;
	
	
	
}


.header_style {


	background-color:#ffffff;
	
	
	width:100%;
	
	border:1px solid #e6e6e6 ;

	margin-top:50px;
	font-size:14px;
	float:right;
	
	font-family:Helvetica;
	 
	 
 }
 
 
 
 



 
 
 .spalte_1{
	 
	 margin-left:50px;
	 margin-top:50px;
	 margin-right:50px;
	 font-family:Helvetica;
	 
 }
 
 
 .headline{
	 
	 
	 border-bottom: 1px solid #cdcdcd ;
	 
	 line-height:35px;
	 
 }
 
 
 
 .spalte_headline_1{
	 font-weight: bold;
	 float:left;
	 font-size:16px;
	 width:500px;
	 font-family:Helvetica;
	 line-height:35px;
 }
 
 
  .spalte_headline_2{
	 font-weight: bold;
	 float:left;
	 font-size:16px;
	 width:350px;
	 font-family:Helvetica;
	 line-height:35px;
 }
 
  .spalte_headline_3{
	 font-weight: bold;
	 float:left;
	 font-size:16px;
	 width:50px;
	 font-family:Helvetica;
	 line-height:35px;
	 text-align:right;
 }
 



 


 .button_zurueck{

	
	background-color:#808080;
	color:#FFFFFF;
	float:right;
	
	font-weight:bold;
	height:28px;
	width:180px;
	border-radius: 5px;
	cursor:pointer;
	font-size:14px;
	text-align:center;
	padding-top:10px;
	margin-bottom:40px;



}



 .uebersicht{
			width:1200px; 
	padding:0px 0; 
	margin:0 auto;
	font-family:Helvetica; 

	height:100%
	
}
 

 
	html, body {

  	background-color:#F5F7FA;


margin: 0px;
	


}
body {
  position: relative
}








 
 
 
 
 
  .spalte_text_1{
	 float:left;
	 font-size:16px;
	width:500px;
	 font-family:Helvetica;
	 line-height:35px;
 }
 
  .spalte_text_2{
	 float:left;
	width:350px;
	 font-size:16px;
	 font-family:Helvetica;
	 line-height:35px;
 }
 
   .spalte_text_3{
	 float:left;
	width:50px;
	 font-size:16px;
	 font-family:Helvetica;
	 line-height:35px;
	 text-align:right;
	 
 }
 

 

 









 