.admin_headline{
	font-size:18px;
	font-weight:bold;
	text-align:center;
	}
	
	
.admin_area{
	
	text-align:center;
	}
	
	
.links{
	cursor:pointer;
	line-height:30px;	
}



.gruppe{
		border-bottom:1px solid #e6e6e6 ;	
		float:left;
			width:200px;
}

.header_feld,.feld_inhalt,.feld_inhalt_liefertermin,.feld_inhalt_erstattungsbetrag{

		float:left;
}

