		/* styles unrelated to zoom */
		* { border:0; margin:0; padding:0; }
		p { position:absolute; top:3px; right:28px; color:#555; font:bold 13px/1 sans-serif;}


		
		/* magnifying glass icon */
		.zoom:after {
			content:'';
			display:block; 
			width:33px; 
			height:33px; 
			position:absolute; 
			top:0;
			right:0;

		}

		.zoom img {
			display: block;
		}

		.zoom img::selection { background-color: transparent; }


	 @media only screen and (min-width: 568px) {
    /* For mobile phones: */
    [class*="zoom"] {

			display:inline-block;
			position: relative;
			float:left;


    }
}