<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head profile="http://gmpg.org/xfn/11">

        <script type="text/javascript" src="/static/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/static/main.js"></script>
		
		
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Admin Übersicht</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />


<link type="text/css" rel="stylesheet" media="screen" href="/static/admin.css" />


</head>
  

  <body style="font-family:Helvetica;color: #4E4E4E;">
  
<div class="admin_area">
	<div class="admin_headline">Admin Center</div><br><br>

	<u><b>Bestellungen</b></u><br>
	<a href='http://maxfischer2.pythonanywhere.com/cart_details_anpassen/'>Warenkorb aufrufen</a><br>
	<a href='http://maxfischer2.pythonanywhere.com/admin/uebersicht/bestellungen/'>Bestellungen ansehen</a><br>
	<a>Neue Bestellung erstellen</a><br>
	<a href='http://maxfischer2.pythonanywhere.com/admin/uebersicht/ruecksendungen/'>Rücksendungen bearbeiten</a><br>
	<a>Neue Rücksendung erstellen</a><br>
	<a href='http://maxfischer2.pythonanywhere.com/admin/uebersicht/ruecksendung_anlegen_admin/'>Rücksendung erstellen</a><br>
	<a href='http://maxfischer2.pythonanywhere.com/admin/uebersicht/umtausch_anlegen_admin/'>Umtausch bearbeiten</a><br><br><br>




	<u><b>User</b></u><br>
	<a>User ansehen</a><br>
	<a>Neuen User erstellen</a><br><br><br>



	<u><b>Supply/ Demand</b></u><br>
	<a href='http://maxfischer2.pythonanywhere.com/admin/supply_demand_ansehen/'>Mengendetails pro Style</a><br>
	<a href='http://maxfischer2.pythonanywhere.com/admin/supply_demand_anpassen/'>Supply Demand anpassen</a><br>

</div>




<script src="/static/admin.js" ></script>






</body>




</html>