<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% include "header.html" %}

<link rel="stylesheet" href="/static/adressbuch_page.css" type="text/css" media="all" />





 

</head>
<div class="header_top_all"><div class="header_top"></div></div>
    <div class="overlay" onclick='reset_sidebar()'></div>

  <div class="modal_mobile_sidebar">					  
  	<div id="mySidenav" class="sidenav">

		</div>
</div>
<body bgcolor="#F5F7FA">

	<div id="x-mask" class="uebersicht">




		<br><br><br><b><div class="profil_beschriftung"><div class="links" onclick="profil_hauptseite()">Dein Profil</div>> Adressbuch bearbeiten</b><br></div>
		
		
		<div class="hauptseite_adresse_bearbeiten">
			<div class="profil_beschriftung"><b>ADRESSBUCH</b><br><br><br>
				<div class="button_main" onclick="adressen_hinzufuegen()">Neue Adresse</div>
			<br>
			</div>



  {% include "modals.html" %}

			<div class="header_style">

				
				<div class="zusammenfassung">

					<div class="block">	
						<div class="eingabefelder_headline_line_1"><b>Vorname</b><br>
							<input class="eingabefelder_vorname" onkeydown='input_on_change(this)' type='text'/>
						</div>
						
						<div class="eingabefelder_headline_line_1"><b>Nachname</b><br>
							<input class="eingabefelder_nachname" placeholder='' type='text' onkeydown='input_on_change(this)'  maxlength='19' />
						</div>			
						
										
						<div class="eingabefelder_headline_line_1"><b>Mobilnummer</b><br>
							<input type="tel" class="eingabefelder_telefonnummer" onkeypress='validate(event)' onblur='check_mobilnummer(-1)'  onkeydown='input_on_change(this)' style="padding-left:40px;"/><div class='vorwahl'>+49</div>
						</div>	
						<span class="stretch"></span>	
					</div>	
					<br>
					<div class="block">	
						<div class="eingabefelder_headline_line_1"><b>Adresse</b><br>
							<input type="text" class="eingabefelder_adresse" id="0" onkeydown='input_on_change(this)'/>
						</div>
						
						<div class="eingabefelder_headline_line_1"><b>Stadt</b><br>
							<input class="eingabefelder_stadt" placeholder='' type='text' onkeydown='input_on_change(this)' />
						</div>			
						
										
						<div class="eingabefelder_headline_line_1"><b>PLZ</b><br>
							<input type="text" class="eingabefelder_plz" onkeypress='validate(event)' maxlength="5" onkeydown='input_on_change(this)' />
						</div>
						<span class="stretch"></span>	
						
						
					</div>															



					<br>
					<div class="eingabefelder_headline_line_2"><b>Unternehmensdetails (optional)</b><br>
						<input class="eingabefelder_unternehmensdetails" placeholder='' type='text' onkeydown='input_on_change(this)' />
					</div>		
					<br><br>
					<div class="eingabefelder_headline_line_2"><b>Lieferhinweise</b><br><br>
						<textarea class="lieferhinweise" name='html_elemente' cols='50' rows='15' maxlength='10000' placeholder='Bitte gib hier Details zur Sendungsübergabe an.' ></textarea>
					</div>							

					<div class='warnhinweis' style='color:red;float:right;'> </div>
					<br><br><br>
					
					<div class="adresse_speichern_button" onclick="adresse_speichern(-1)">Adresse speichern</div>
					<div class='button_abbrechen' onclick='adresse_abbrechen(-1)'>Abbrechen</div>
				</div>
			</div>
		</div>
		
			
			
		<div id="existierende_adressen_anzeigen"></div>
			
		
			
			
			
	</div>
	
		
	<script src="/static/adressbuch_js.js"></script>

	{% include "header_sub.html" %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6g7upLc5V-d3TtDG-7yhMcE0hzZoPV00&libraries=places"></script>
	<script src="/static/googlemaps_summary_adresse_bearbeiten.js"></script>

		




</div>
</body>
<div class="header_bottom_all"><div class="header-bottom"></div></div>


<script type="text/javascript"  class="adressbuch_daten" >{{adressbuch | safe}}</script>
<script type="text/javascript"  class="wishlist" >{{wishlist | safe}}</script>
<script type="text/javascript"  class="warenkorb_daten" >{{warenkorb | safe}}</script>	
<script type="text/javascript"  class="links" >{{links | safe}}</script>
<script type="text/javascript"  class="bestellungen" >{{bestellungen | safe}}</script>

		<script type="text/javascript">load_header("{{login}}");test();adressen_laden();warenkorb_abrufen("{{cart_gesamt}}");password_check("{{password}}");links_laden(-1);</script>





</html>