<div class="group_content_fitting_quiz" >

	<div class="headline_fitting_quiz" style='margin-top:100px;color:#c34a5e;'><img src='/static/showroom/bra_2_filled.png' width='50'></img></div><br>
	<div class="headline_fitting_quiz_subtitle" id='fitting_quiz_answer_6_0' style='display:none'>Autsch. Das sollte nicht sein. Wir sind schon auf der Suche nach etwas passendem für Dich!</div>
	<div class="headline_fitting_quiz_subtitle" id='fitting_quiz_answer_6_1' style='display:none'>Das können wir lösen. Alle unsere BHs haben verstellbare Träger, die sich optimal anpassen.</div>



	<div class='button_fitting_quiz_group'>
		<button name="submit" class="button_next_fitting_quiz" onclick="next_quiz_page(12,10)">
			Alles klar
		</button>

	</div>
</div>




	<div class="footer"  >
		<div class="sub_header_group_fitting_quiz" onclick="back_quiz_page(11,10)">
			<div class="back_button_fitting_quiz">&nbsp;</div>
			<div style='padding-left:13px;z-index:1;margin-top:-15px;'>Zurück</div>
		</div>
	</div>
