<div class="group_content_fitting_quiz" >

	<div class="headline_fitting_quiz">Wie sitzt das Band?</div>


<div class="main_content_fitting_quiz">
	
	<div style='width:100%;float:left;'>
		<div class='block_0_question_4' onmouseover="enter_picture_band(this)" onmouseout="leave_picture_band(this)" onclick='select_picture_question_4(this.id)' id='0' >
		<img  class='photo_showroom' src='/static/showroom/band_rutscht.png' ></img>
		<div class='block_1_text'>Band ist zu locker und rutscht nach oben</div>
		</div>


		<div class='block_0_question_4_ML' onmouseover="enter_picture_band(this)" onmouseout="leave_picture_band(this)" onclick='select_picture_question_4(this.id)' id='1' >
		<img  class='photo_showroom' src='/static/showroom/band_eng.png' ></img>
		<div class='block_1_text'>Band ist eng und drückt in meine Haut</div>
		</div>
		
		
		<div class='block_0_question_4_ML' onmouseover="enter_picture_band(this)" onmouseout="leave_picture_band(this)" onclick='select_picture_question_4(this.id)' id='2' >
		<img  class='photo_showroom' src='/static/showroom/band_gut.png'></img>
		<div class='block_1_text'>Band sitzt angenehm und prallel zum Boden</div>
		</div>	  	
	</div>	  	
	
	<div class='button_fitting_quiz_group' style='display:none' id='button_quiz_band'>
		<button name="submit" class="button_next_fitting_quiz" onclick="next_quiz_page(8,7)">
			Weiter
		</button>

	</div>
</div>
</div>

	<div class="footer"  >
		<div class="sub_header_group_fitting_quiz" onclick="back_quiz_page(6,4)">
			<div class="back_button_fitting_quiz">&nbsp;</div>
			<div style='padding-left:13px;z-index:1;margin-top:-15px;'>Zurück</div>
		</div>
	</div>



