<div class="group_content_fitting_quiz" >

	<div class="headline_fitting_quiz">Welche andere Größe trägst Du manchal?</div>


<div class="main_content_fitting_quiz">
	
	
	 <div class='bund_group'>Band</div><br>
	
	<div class='size_selection_group'>
	  	<div class='circle_band_second' onclick='band_click_second(this.id)' id='0' onmouseover="enter_band_second(this)" onmouseout="leave_band_second(this)"><div class='band'>60</div></div>
		<div class='circle_band_second' onclick='band_click_second(this.id)' id='1' onmouseover="enter_band_second(this)" onmouseout="leave_band_second(this)"><div class='band'>65</div></div>
		<div class='circle_band_second' onclick='band_click_second(this.id)' id='2' onmouseover="enter_band_second(this)" onmouseout="leave_band_second(this)"><div class='band'>70</div></div>
		<div class='circle_band_second' onclick='band_click_second(this.id)' id='3' onmouseover="enter_band_second(this)" onmouseout="leave_band_second(this)"><div class='band'>75</div></div>
		<div class='circle_band_second' onclick='band_click_second(this.id)' id='4' onmouseover="enter_band_second(this)" onmouseout="leave_band_second(this)"><div class='band'>80</div></div>
		<div class='circle_band_second' onclick='band_click_second(this.id)' id='5' onmouseover="enter_band_second(this)" onmouseout="leave_band_second(this)"><div class='band'>85</div></div>
		<div class='circle_band_second' onclick='band_click_second(this.id)' id='6' onmouseover="enter_band_second(this)" onmouseout="leave_band_second(this)"><div class='band'>90</div></div>
		<span class='stretch' ></span>
	</div>
	<div class='size_selection_group'>
		<div class='circle_band_second' onclick='band_click_second(this.id)' id='7' onmouseover="enter_band_second(this)" onmouseout="leave_band_second(this)"><div class='band'>95</div></div>
		<div class='circle_band_second' onclick='band_click_second(this.id)' id='8' onmouseover="enter_band_second(this)" onmouseout="leave_band_second(this)"><div class='band'>100</div></div>
		<div class='circle_band_second' onclick='band_click_second(this.id)' id='9' onmouseover="enter_band_second(this)" onmouseout="leave_band_second(this)"><div class='band'>105</div></div>
		<div class='circle_band_second' onclick='band_click_second(this.id)' id='10' onmouseover="enter_band_second(this)" onmouseout="leave_band_second(this)"><div class='band'>110</div></div>
		<div class='circle_band_second' onclick='band_click_second(this.id)' id='11' onmouseover="enter_band_second(this)" onmouseout="leave_band_second(this)"><div class='band'>115</div></div>
		<div class='circle_band_second' onclick='band_click_second(this.id)' id='12' onmouseover="enter_band_second(this)" onmouseout="leave_band_second(this)"><div class='band'>120</div></div>
		<div class='circle_band_second' onclick='band_click_second(this.id)' id='13' onmouseover="enter_band_second(this)" onmouseout="leave_band_second(this)"><div class='band'>125</div></div>
		<span class='stretch'></span>

  	</div>
	 <br>
	<div id='cup_sizing_second' style='display:none;opacity:0;'>
	  <div class='bund_group'>Cup</div><br>
		<div class='size_selection_group'>
		  	<div class='circle_cup_second' onclick='cup_click_second(this.id)' id='0'  onmouseover="enter_cup_second(this)" onmouseout="leave_cup_second(this)"><div class='band'>AAA</div></div>
		  	<div class='circle_cup_second' onclick='cup_click_second(this.id)' id='1'  onmouseover="enter_cup_second(this)" onmouseout="leave_cup_second(this)"><div class='band'>AA</div></div>
			<div class='circle_cup_second' onclick='cup_click_second(this.id)' id='2' onmouseover="enter_cup_second(this)" onmouseout="leave_cup_second(this)"><div class='band'>A</div></div>
			<div class='circle_cup_second' onclick='cup_click_second(this.id)' id='3' onmouseover="enter_cup_second(this)" onmouseout="leave_cup_second(this)"><div class='band'>B</div></div>
			<div class='circle_cup_second' onclick='cup_click_second(this.id)' id='4' onmouseover="enter_cup_second(this)" onmouseout="leave_cup_second(this)"><div class='band'>C</div></div>
			<div class='circle_cup_second' onclick='cup_click_second(this.id)' id='5' onmouseover="enter_cup_second(this)" onmouseout="leave_cup_second(this)"><div class='band'>D</div></div>
			<div class='circle_cup_second' onclick='cup_click_second(this.id)' id='6' onmouseover="enter_cup_second(this)" onmouseout="leave_cup_second(this)"><div class='band'>E</div></div>
		<span class='stretch' ></span>
	</div>
	<div class='size_selection_group'>
			<div class='circle_cup_second' onclick='cup_click_second(this.id)' id='7' onmouseover="enter_cup_second(this)" onmouseout="leave_cup_second(this)"><div class='band'>F</div></div>
			<div class='circle_cup_second' onclick='cup_click_second(this.id)' id='8' onmouseover="enter_cup_second(this)" onmouseout="leave_cup_second(this)"><div class='band'>G</div></div>
			<div class='circle_cup_second' onclick='cup_click_second(this.id)' id='9' onmouseover="enter_cup_second(this)" onmouseout="leave_cup_second(this)"><div class='band'>H</div></div>
			<div class='circle_cup_second' onclick='cup_click_second(this.id)' id='10' onmouseover="enter_cup_second(this)" onmouseout="leave_cup_second(this)"><div class='band'>I</div></div>
			<div class='circle_cup_second' onclick='cup_click_second(this.id)' id='11' onmouseover="enter_cup_second(this)" onmouseout="leave_cup_second(this)"><div class='band'>J</div></div>
			<div class='circle_cup_second' onclick='cup_click_second(this.id)' id='12' onmouseover="enter_cup_second(this)" onmouseout="leave_cup_second(this)"><div class='band'>K</div></div>
			<div class='circle_cup_second' onclick='cup_click_second(this.id)' id='13' onmouseover="enter_cup_second(this)" onmouseout="leave_cup_second(this)"><div class='band'>L</div></div>
			<span class='stretch'></span>
	  	</div>
	  </div>
	 <br>
	
	


	</div>
<div id='brand_sizing_second' style='display:none'>
  <div class='bund_group'>Wie heißt die Marke deines Lieblings-BHs?</div><br>
	<div class='center_group_fitting_quiz_group'>
		<select class='brand_selection_second' onchange='click_on_competitors_second()'>
			<option></option>
			<option>Aubade</option>
			<option>Beedees</option>
			<option>Bon Prix</option>
			<option>C&A</option>
			<option>Calvin Klein</option>
			<option>Chantelle</option>
			<option>DIM</option>
			<option>Esprit</option>
			<option>ETAM</option>
			<option>Felina</option>		
			<option>H&M</option>		
			<option>Hunkemöller</option>
			<option>Intimissimi</option>	
			<option>Oysho</option>
			<option>Passionata</option>		
			<option>Tezenis</option>				
			<option>Triumph</option>	
			<option>Victoria's Secret</option>
			<option>Andere</option>
		
		</select>
	</div>
</div>
	
	<div class='button_fitting_quiz_group' id='button_sizing_second' style='display:none;opacity:0;'>
		<button name="submit" class="button_next_fitting_quiz" onclick="next_quiz_page(14,13)" id='button_next_fitting_quiz_question_0'>
			Weiter
		</button>

	</div>
</div>


	<div class="footer"  >
		<div class="sub_header_group_fitting_quiz" onclick="back_quiz_page(13,12)">
			<div class="back_button_fitting_quiz">&nbsp;</div>
			<div style='padding-left:13px;z-index:1;margin-top:-15px;'>Zurück</div>
		</div>
	</div>









