<div class="group_content_fitting_quiz" >

	<div class="headline_fitting_quiz">Welche Brustform ist Deiner am ähnlichsten?</div>
	<div class="headline_fitting_quiz_subtitle_question">Wir sind fast fertig &ndash; letzte Frage zu BH und Brust!</div>
<div class="main_content_fitting_quiz" >
	
	<div style='width:100%;float:left;'>
		<div class='block_1_question_8' onclick='select_picture_question_8(this.id)' onmouseover="enter_picture(this)" onmouseout="leave_picture(this)" id='0'  >
			<img  class='photo_showroom' src='/static/showroom/tropfen.png' ></img>
			<div class='block_1_text_question_8'>Tropfen</div>
			<div class='block_1_subtext'>Brüste sind voller im unteren als im oberen Bereich</div>
		</div>


		<div class='block_1_question_8' onclick='select_picture_question_8(this.id)' onmouseover="enter_picture(this)" onmouseout="leave_picture(this)"  id='1'>
		<img  class='photo_showroom' src='/static/showroom/rund.png' ></img>
		<div class='block_1_text_question_8'>Rund</div>
		<div class='block_1_subtext'>Brüste sind gleich voll im oberen und unteren Bereich</div>		</div>
		
		
		<div class='block_1_question_8' onclick='select_picture_question_8(this.id)' onmouseover="enter_picture(this)" onmouseout="leave_picture(this)" id='2'>
		<img  class='photo_showroom' src='/static/showroom/leicht_aussen.png' ></img>
		<div class='block_1_text_question_8'>Leicht außen</div>
		<div class='block_1_subtext'>Etwa 2 Finger breit Platz zwischen den Brüsten</div>			
		
		</div>	 
		
		 	
		<div class='block_1_question_8' onclick='select_picture_question_8(this.id)' onmouseover="enter_picture(this)" onmouseout="leave_picture(this)" id='3'>
		<img  class='photo_showroom' src='/static/showroom/east_west.png' ></img>
		<div class='block_1_text_question_8'>East West</div>
		<div class='block_1_subtext'>Viel Platz in der Mitte, Brustwarzen zeigen nach außen</div>			
		
		</div>
		
		

				
		
		
	</div>	  	



	<div style='width:100%;float:left;'>
	
		<div class='block_1_question_8' onclick='select_picture_question_8(this.id)' onmouseover="enter_picture(this)" onmouseout="leave_picture(this)"  id='4'  >
		<img  class='photo_showroom' src='/static/showroom/asymetrisch.png' ></img>
		<div class='block_1_text_question_8'>Asymmetrisch</div>
		<div class='block_1_subtext'>Eine Brust ist etwas größer als die andere</div>		
		
				</div>	  		
		<div class='block_1_question_8' onclick='select_picture_question_8(this.id)' onmouseover="enter_picture(this)" onmouseout="leave_picture(this)" id='5' >
		<img  class='photo_showroom' src='/static/showroom/athletisch.png' ></img>
		<div class='block_1_text_question_8'>Athletisch</div>
		<div class='block_1_subtext'>Breitere, gestützte Brüste mit weniger Gewebe</div>		
		
		</div>


		<div class='block_1_question_8' onclick='select_picture_question_8(this.id)' onmouseover="enter_picture(this)" onmouseout="leave_picture(this)"  id='6'>
		<img  class='photo_showroom' src='/static/showroom/halb_gestuetzt.png' ></img>
		<div class='block_1_text_question_8'>Leicht gestützt</div>
		<div class='block_1_subtext'>Brüste sind halb gestützt mit etwas festerem Gewebe</div>		
		
		
		</div>
		
		
		<div class='block_1_question_8' onclick='select_picture_question_8(this.id)' onmouseover="enter_picture(this)" onmouseout="leave_picture(this)"  id='7'>
		<img  class='photo_showroom' src='/static/showroom/tubulaer.png' ></img>
		<div class='block_1_text_question_8'>Tubulär</div>
		<div class='block_1_subtext'>Brüste sind weniger gestützt und aus weicherem Gewebe</div>		
				</div>	  	

		

				
		
		
	</div>		
	<div class='button_fitting_quiz_group' id='button_quiz_form_details' style='display:none' >
		<button name="submit" class="button_next_fitting_quiz" onclick="next_quiz_page(15,14)">
			Weiter
		</button>

	</div>
</div>
</div>

	<div class="footer"  >
		<div class="sub_header_group_fitting_quiz" onclick="back_quiz_page(14,13)">
			<div class="back_button_fitting_quiz">&nbsp;</div>
			<div style='padding-left:13px;z-index:1;margin-top:-15px;'>Zurück</div>
		</div>
	</div>



