<div class="group_content_fitting_quiz" >

	<div class="headline_fitting_quiz">Glückwunsch, wir haben die passenden BHs für Dich!  Wir sind überzeugt, dass wir Dir die optimale Passform bieten können.</div>
	<div class="headline_fitting_quiz_subtitle_question">Als nächstes zeigen wir das Ergebnis.</div>

<div class="main_content_fitting_quiz">
	
	<div class='button_fitting_quiz_group_email'>
		<input class="fitting_quiz_email" placeholder="E-Mail Adresse" id='email_showroom' type='email'></input>

	</div>

	
	<div class='button_fitting_quiz_group'>
		<button name="submit" class="button_next_fitting_quiz" onclick="submit_quiz_results()" id="submit_quiz">
		<i class="fa fa-circle-o-notch fa-spin" id='submit_quiz_logo' style='display:none'></i>
			<div id='submit_quiz_text'>Zum Ergebnis</div>
		</button>

	</div>
</div>

</div>




	<div class="footer"  >
		<div class="sub_header_group_fitting_quiz" onclick="back_quiz_page(18,17)">
			<div class="back_button_fitting_quiz">&nbsp;</div>
			<div style='padding-left:13px;z-index:1;margin-top:-15px;'>Zurück</div>
		</div>
	</div>



