<div class="group_content_fitting_quiz" >

	<div class="headline_fitting_quiz" style='margin-top:100px;color:#c34a5e;'><img src='/static/showroom/bra_2_filled.png' width='50'></img></div><br>
	
	<div class="headline_fitting_quiz_subtitle" id='fitting_quiz_answer_8_0' style='display:none'>Viele Frauen haben tropfenförmige Brüste. Dir könnten unsere BHs mit weichen, dünnen Contour-Cups mit Memory-Effekt perfekt passen.</div>
	
	<div class="headline_fitting_quiz_subtitle" id='fitting_quiz_answer_8_1' style='display:none'>Rundere Brüste wünschen sich viele Frauen, Du gehörst zu den glücklichen die sie haben. Die runden Bügel unserer BHs werden Deine Brüsten optimal umfassen.</div>

	<div class="headline_fitting_quiz_subtitle" id='fitting_quiz_answer_8_2' style='display:none'>Viele Frauen haben nach außen gewandte Brüste. Dir werden unsere BHs gefallen, die Deine Brüste enger zusammen bringen ohne zu quetschen. </div>
	
	<div class="headline_fitting_quiz_subtitle" id='fitting_quiz_answer_8_3' style='display:none'>Viele Frauen haben nach außen gewandte Brüste. Dir werden unsere BHs gefallen, die Deine Brüste enger zusammen bringen ohne zu quetschen. </div>
	
	<div class="headline_fitting_quiz_subtitle" id='fitting_quiz_answer_8_4' style='display:none'>Wusstest Du, dass 40% aller Frauen ungleich große Brüste haben? Die Ungleichheit kann ganz leicht sein, aber auch eine volle Cup-Größe.</div>
	
	<div class="headline_fitting_quiz_subtitle" id='fitting_quiz_answer_8_5' style='display:none'>Athletische Brüste werden von vielen Herstellern nicht berücksichtigt. Oft passen unsere Cups mit weniger Tiefe und breiteren Bügeln besser.</div>
	
	<div class="headline_fitting_quiz_subtitle" id='fitting_quiz_answer_8_6' style='display:none'>Mit leicht gestützten Brüsten has Du viel Freiheit bei der Wahl von BHs, da Deine Brüste weniger Unterstützung benötigen als andere. Unsere Push-Up und Plunge BHs werden Dir gefallen.</div>



	<div class="headline_fitting_quiz_subtitle" id='fitting_quiz_answer_8_7' style='display:none'>Als eine von sehr vielen Frauen mit weniger gestützten Brüsten werden Dir unsere BHs mit weichen Cups gefallen, die zum Beispiel Passformprobleme wie abstehende Cup-Ränder verhindern.</div>

	<div class='button_fitting_quiz_group'>
		<button name="submit" class="button_next_fitting_quiz" onclick="next_quiz_page(16,15)">
			Alles klar
		</button>

	</div>
</div>


	<div class="footer"  >
		<div class="sub_header_group_fitting_quiz" onclick="back_quiz_page(15,14)">
			<div class="back_button_fitting_quiz">&nbsp;</div>
			<div style='padding-left:13px;z-index:1;margin-top:-15px;'>Zurück</div>
		</div>
	</div>
