<div class="group_content_fitting_quiz" >

	<div class="headline_fitting_quiz">Jeder Körper ist einzigartig. Mache unser kurzes Quiz und wir empfehlen Dir den perfekten BH für Deine Figur.</div><br>


	<div id='button_fitting_quiz_group_start_bild'>
		<img name="submit" class="start_image_fitting_quiz" src="/static/landing_page/171231_curvy_skinny.png" width="170" alt="Passformprobleme bei BHs, Dessous oder Unterwäsche?">
		</img>

	</div>
	
	
	<div class='button_fitting_quiz_group'>
		<button name="submit" class="button_next_fitting_quiz"  onclick="next_quiz_page(1,0)">
			Zum Quiz
		</button>

	</div>
	
		<div id='button_fitting_quiz_group_start'>
				Wähle was am besten auf Dich zutrifft. Du kannst Deine Antworten später jederzeit ändern.


	</div>
</div>








