<div class="group_content_fitting_quiz" style='width:70%'>

	<div class="headline_fitting_quiz" style='margin-top:100px;color:#c34a5e;'><img src='/static/showroom/bra_2_filled.png' width='50'></img></div><br>
	<div class="headline_fitting_quiz_subtitle" id='fitting_quiz_answer_3_0' style='display:none'>Da können wir helfen. Vielleicht schlagen wir Dir eine kleinere Cupgröße vor.</div>
	<div class="headline_fitting_quiz_subtitle" id='fitting_quiz_answer_3_1' style='display:none'>Da können wir helfen. Vielleicht schlagen wir Dir eine größere Cupgröße vor.</div>
	<div class="headline_fitting_quiz_subtitle" id='fitting_quiz_answer_3_2' style='display:none'>Nur 20% der Frauen tragen die richtige Cupgröße. Glückwunsch, Du gehörst dazu!</div>

</div>
	<div class='button_fitting_quiz_group'>
		<button name="submit" class="button_next_fitting_quiz" onclick="next_quiz_page(6,4)">
			Alles klar
		</button>

	</div>


	<div class="footer"  >
		<div class="sub_header_group_fitting_quiz" onclick="back_quiz_page(5,4)">
			<div class="back_button_fitting_quiz">&nbsp;</div>
			<div style='padding-left:13px;z-index:1;margin-top:-15px;'>Zurück</div>
		</div>
	</div>
