<div class="group_content_fitting_quiz" >

	<div class="headline_fitting_quiz">Wie trägst Du Dein Band?</div>

<div class="main_content_fitting_quiz">
	
	<div style='width:100%;float:left;'>
		<div class='block_0_question_5' onclick='select_picture_question_5(this.id)' onmouseover="enter_picture_band_2(this)" onmouseout="leave_picture_band_2(this)" id='0'>
		<img  class='photo_showroom' src='/static/showroom/haken_eng.png'  ></img>
		<div class='block_1_text'>Auf dem engsten Haken</div>
		</div>


		<div class='block_0_question_5_ML' onclick='select_picture_question_5(this.id)' onmouseover="enter_picture_band_2(this)" onmouseout="leave_picture_band_2(this)" id='1' >
		<img  class='photo_showroom' src='/static/showroom/haken_mitte.png'  ></img>
		<div class='block_1_text'>Auf dem mittleren Haken</div>
		</div>
		
		
		<div class='block_0_question_5_ML' onclick='select_picture_question_5(this.id)' onmouseover="enter_picture_band_2(this)" onmouseout="leave_picture_band_2(this)" id='2' >
		<img  class='photo_showroom' src='/static/showroom/haken_aussen.png' ></img>
		<div class='block_1_text'>Auf dem äußersten Haken</div>
		</div>	  	
		<span class='stretch'></span>
	</div>	  	
	
	<div class='button_fitting_quiz_group' style='display:none' id='button_quiz_band_2'>
		<button name="submit" class="button_next_fitting_quiz" onclick="next_quiz_page(9,8)">
			Weiter
		</button>

	</div>
</div>
</div>



	<div class="footer"  >
		<div class="sub_header_group_fitting_quiz" onclick="back_quiz_page(8,6)">
			<div class="back_button_fitting_quiz">&nbsp;</div>
			<div style='padding-left:13px;z-index:1;margin-top:-15px;'>Zurück</div>
		</div>
	</div>



