<div class="group_content_fitting_quiz" style='width:70%'>

	<div class="headline_fitting_quiz" style='margin-top:100px;color:#c34a5e;'><img src='/static/showroom/ruler_2_filled.png' width='50'></img></div><br>
	<div class="headline_fitting_quiz_subtitle" id='fitting_quiz_answer_4_0' style='display:none'>Dein Band könnte zu groß sein oder bereits leicht ausgeleiert. Wir werden etwas passendes für Dich finden!</div>
	<div class="headline_fitting_quiz_subtitle" id='fitting_quiz_answer_4_1' style='display:none'>Aua. Möglicherweise schlagen wir Dir ein größeres Band vor. Es sollte Dich nicht einengen.</div>
	<div class="headline_fitting_quiz_subtitle" id='fitting_quiz_answer_4_2' style='display:none'>Klasse! Das hört sich so an, als trägst Du die richtige Band-Größe.</div>

	<div class='button_fitting_quiz_group'>
		<button name="submit" class="button_next_fitting_quiz" onclick="next_quiz_page(8,6)">
			Alles klar
		</button>

	</div>
</div>


	<div class="footer"  >
		<div class="sub_header_group_fitting_quiz" onclick="back_quiz_page(7,6)">
			<div class="back_button_fitting_quiz">&nbsp;</div>
			<div style='padding-left:13px;z-index:1;margin-top:-15px;'>Zurück</div>
		</div>
	</div>
