<div class="group_content_fitting_quiz" >

	<div class="headline_fitting_quiz">Wie sitzen die Träger?</div>

<div class="main_content_fitting_quiz">
	
	<div style='width:100%;float:left;'>
		<div class='block_0_question_6' onclick='select_picture_question_6(this.id)' onmouseover="enter_picture_stripes(this)" onmouseout="leave_picture_stripes(this)" id='0'>
		<img  class='photo_showroom' src='/static/showroom/traeger_schneiden.png' ></img>
		<div class='block_1_text'>Träger schneiden ein</div>
		</div>


		<div class='block_0_question_6_ML' onclick='select_picture_question_6(this.id)' onmouseover="enter_picture_stripes(this)" onmouseout="leave_picture_stripes(this)" id='1' >
		<img  class='photo_showroom' src='/static/showroom/traeger_rutschen.png'></img>
		<div class='block_1_text'>Träger rutschen</div>
		</div>
		
		
		<div class='block_0_question_6_ML' onclick='select_picture_question_6(this.id)' onmouseover="enter_picture_stripes(this)" onmouseout="leave_picture_stripes(this)" id='2' >
		<img  class='photo_showroom' src='/static/showroom/traeger_gut.png' ></img>
		<div class='block_1_text'>Träger sitzen genau richtig</div>
		</div>	  	
		<span class='stretch'></span>
	</div>	  	
	
	<div class='button_fitting_quiz_group' style='display:none' id='button_quiz_stripes'>
		<button name="submit" class="button_next_fitting_quiz" onclick="next_quiz_page(11,10)">
			Weiter
		</button>

	</div>
</div>
</div>



	<div class="footer"  >
		<div class="sub_header_group_fitting_quiz" onclick="back_quiz_page(10,8)">
			<div class="back_button_fitting_quiz">&nbsp;</div>
			<div style='padding-left:13px;z-index:1;margin-top:-15px;'>Zurück</div>
		</div>
	</div>


