<div class="group_content_fitting_quiz" >

	<div class="headline_fitting_quiz" id='headline_second_size'></div>
	<div class="headline_fitting_quiz_subtitle_question">Falls nicht, sag uns zu welcher Größe Du alternativ greifst.</div>


<div class="main_content_fitting_quiz" style='max-width:400px; margin-left: auto; margin-right: auto'>
	

	  	<div class='auswahl_balken_fitting_quiz_different_size' onclick='balken_fitting_quiz_question_different_size(this.id)' onmouseover="enter_balken_different_size(this)" onmouseout="leave_balken_different_size(this)" id='0'>Ja, ich trage immer diese Größe</div>
	  	<div class='auswahl_balken_fitting_quiz_different_size' onclick='balken_fitting_quiz_question_different_size(this.id)' onmouseover="enter_balken_different_size(this)" onmouseout="leave_balken_different_size(this)" id='1'>Nein, manchmal trage ich eine andere Größe</div>

	  	
	
	<div class='button_fitting_quiz_group' style='display:none' id='button_quiz_different_size'>
		<button name="submit" class="button_next_fitting_quiz" onclick="next_quiz_page(13,12)">
			Weiter
		</button>

	</div>
</div>
</div>


	<div class="footer"  >
		<div class="sub_header_group_fitting_quiz" onclick="back_quiz_page(12,10)">
			<div class="back_button_fitting_quiz">&nbsp;</div>
			<div style='padding-left:13px;z-index:1;margin-top:-15px;'>Zurück</div>
		</div>
	</div>



