<div class="group_content_fitting_quiz" >

	<div class="headline_fitting_quiz">Welche Slipgröße trägst Du?</div>
	<div class="headline_fitting_quiz_subtitle_question">Letzte Frage, versprochen!</div>

<div class="main_content_fitting_quiz">
	
	
	
	
	
	<div class='size_selection_group'>
	  	<div class='circle_panty' onclick='panty_click(this.id)' id='0' onmouseover="enter_panty(this)" onmouseout="leave_panty(this)"><div class='panty_size'>XXS</div></div>
	  	<div class='circle_panty' onclick='panty_click(this.id)' id='1' onmouseover="enter_panty(this)" onmouseout="leave_panty(this)"><div class='panty_size'>XS</div></div>
		<div class='circle_panty' onclick='panty_click(this.id)' id='2' onmouseover="enter_panty(this)" onmouseout="leave_panty(this)"><div class='panty_size'>S</div></div>
		<div class='circle_panty' onclick='panty_click(this.id)' id='3' onmouseover="enter_panty(this)" onmouseout="leave_panty(this)"><div class='panty_size'>M</div></div>
		<div class='circle_panty' onclick='panty_click(this.id)' id='4' onmouseover="enter_panty(this)" onmouseout="leave_panty(this)"><div class='panty_size'>L</div></div>
		<div class='circle_panty' onclick='panty_click(this.id)' id='5' onmouseover="enter_panty(this)" onmouseout="leave_panty(this)"><div class='panty_size'>XL</div></div>
		<div class='circle_panty' onclick='panty_click(this.id)' id='6' onmouseover="enter_panty(this)" onmouseout="leave_panty(this)"><div class='panty_size'>XXL</div></div>

		<span class='stretch'></span>
  	</div>
	 <br><br>


	</div>

	
	
	<div class='button_fitting_quiz_group' id='button_quiz_panty' style='display:none;'>
		<button name="submit" class="button_next_fitting_quiz" onclick="next_quiz_page(18,17)">
			Weiter
		</button>

	</div>
</div>



	<div class="footer"  >
		<div class="sub_header_group_fitting_quiz" onclick="back_quiz_page(17,16)">
			<div class="back_button_fitting_quiz">&nbsp;</div>
			<div style='padding-left:13px;z-index:1;margin-top:-15px;'>Zurück</div>
		</div>
	</div>


