<div class="group_content_fitting_quiz" >

	<div class="headline_fitting_quiz">Starten wir bei Deinem Lieblings-BH, der Dir am besten passt. Welche Größe hat er?</div>


<div class="main_content_fitting_quiz">
	
	
	
	
  <div class='bund_group'>Band</div><br>
	
	<div class='size_selection_group'>
	  	<div class='circle_band_first' onclick='band_click_first(this.id)' id='0' onmouseover='enter_band_first(this)' onmouseout='leave_band_first(this)'><div class='band'>60</div></div>
		<div class='circle_band_first' onclick='band_click_first(this.id)' id='1' onmouseover='enter_band_first(this)' onmouseout='leave_band_first(this)'><div class='band'>65</div></div>
		<div class='circle_band_first' onclick='band_click_first(this.id)' id='2' onmouseover='enter_band_first(this)' onmouseout='leave_band_first(this)'><div class='band'>70</div></div>
		<div class='circle_band_first' onclick='band_click_first(this.id)' id='3' onmouseover='enter_band_first(this)' onmouseout='leave_band_first(this)'><div class='band'>75</div></div>
		<div class='circle_band_first' onclick='band_click_first(this.id)' id='4' onmouseover='enter_band_first(this)' onmouseout='leave_band_first(this)'><div class='band'>80</div></div>
		<div class='circle_band_first' onclick='band_click_first(this.id)' id='5' onmouseover='enter_band_first(this)' onmouseout='leave_band_first(this)'><div class='band'>85</div></div>
		<div class='circle_band_first' onclick='band_click_first(this.id)' id='6' onmouseover='enter_band_first(this)' onmouseout='leave_band_first(this)'><div class='band'>90</div></div>
		<span class='stretch' ></span>
	</div>
	<div class='size_selection_group'>
		<div class='circle_band_first' onclick='band_click_first(this.id)' id='7' onmouseover='enter_band_first(this)' onmouseout='leave_band_first(this)'><div class='band'>95</div></div>
		<div class='circle_band_first' onclick='band_click_first(this.id)' id='8' onmouseover='enter_band_first(this)' onmouseout='leave_band_first(this)'><div class='band'>100</div></div>
		<div class='circle_band_first' onclick='band_click_first(this.id)' id='9' onmouseover='enter_band_first(this)' onmouseout='leave_band_first(this)'><div class='band'>105</div></div>
		<div class='circle_band_first' onclick='band_click_first(this.id)' id='10' onmouseover='enter_band_first(this)' onmouseout='leave_band_first(this)'><div class='band'>110</div></div>
		<div class='circle_band_first' onclick='band_click_first(this.id)' id='11' onmouseover='enter_band_first(this)' onmouseout='leave_band_first(this)'><div class='band'>115</div></div>
		<div class='circle_band_first' onclick='band_click_first(this.id)' id='12' onmouseover='enter_band_first(this)' onmouseout='leave_band_first(this)'><div class='band'>120</div></div>
		<div class='circle_band_first' onclick='band_click_first(this.id)' id='13' onmouseover='enter_band_first(this)' onmouseout='leave_band_first(this)'><div class='band'>125</div></div>
		<span class='stretch'></span>
  	</div>
	 <br>
	<div id='cup_sizing_first' style='display:none;opacity:0;'>
	  <div class='bund_group'>Cup</div><br>
		<div class='size_selection_group'>
		  	<div class='circle_cup_first' onclick='cup_click_first(this.id)' id='0'  onmouseover="enter_cup_first(this)" onmouseout="leave_cup_first(this)"><div class='cup'>AAA</div></div>
		  	<div class='circle_cup_first' onclick='cup_click_first(this.id)' id='1'  onmouseover="enter_cup_first(this)" onmouseout="leave_cup_first(this)"><div class='cup'>AA</div></div>
			<div class='circle_cup_first' onclick='cup_click_first(this.id)' id='2' onmouseover="enter_cup_first(this)" onmouseout="leave_cup_first(this)"><div class='cup'>A</div></div>
			<div class='circle_cup_first' onclick='cup_click_first(this.id)' id='3' onmouseover="enter_cup_first(this)" onmouseout="leave_cup_first(this)"><div class='cup'>B</div></div>
			<div class='circle_cup_first' onclick='cup_click_first(this.id)' id='4' onmouseover="enter_cup_first(this)" onmouseout="leave_cup_first(this)"><div class='cup'>C</div></div>
			<div class='circle_cup_first' onclick='cup_click_first(this.id)' id='5' onmouseover="enter_cup_first(this)" onmouseout="leave_cup_first(this)"><div class='cup'>D</div></div>
			<div class='circle_cup_first' onclick='cup_click_first(this.id)' id='6' onmouseover="enter_cup_first(this)" onmouseout="leave_cup_first(this)"><div class='cup'>E</div></div>
		<span class='stretch' ></span>
	</div>
	<div class='size_selection_group'>
			<div class='circle_cup_first' onclick='cup_click_first(this.id)' id='7' onmouseover="enter_cup_first(this)" onmouseout="leave_cup_first(this)"><div class='cup'>F</div></div>

			<div class='circle_cup_first' onclick='cup_click_first(this.id)' id='8' onmouseover="enter_cup_first(this)" onmouseout="leave_cup_first(this)"><div class='cup'>G</div></div>
			<div class='circle_cup_first' onclick='cup_click_first(this.id)' id='9' onmouseover="enter_cup_first(this)" onmouseout="leave_cup_first(this)"><div class='cup'>H</div></div>
			<div class='circle_cup_first' onclick='cup_click_first(this.id)' id='10' onmouseover="enter_cup_first(this)" onmouseout="leave_cup_first(this)"><div class='cup'>I</div></div>
			<div class='circle_cup_first' onclick='cup_click_first(this.id)' id='11' onmouseover="enter_cup_first(this)" onmouseout="leave_cup_first(this)"><div class='cup'>J</div></div>
			<div class='circle_cup_first' onclick='cup_click_first(this.id)' id='12' onmouseover="enter_cup_first(this)" onmouseout="leave_cup_first(this)"><div class='cup'>K</div></div>
			<div class='circle_cup_first' onclick='cup_click_first(this.id)' id='13' onmouseover="enter_cup_first(this)" onmouseout="leave_cup_first(this)"><div class='cup'>L</div></div>
			<span class='stretch'></span>
	  	</div>
	  </div>
	 <br>
	
	


	</div>
<div id='brand_sizing_first' style='display:none'>
  <div class='bund_group'>Wie heißt die Marke Deines Lieblings-BHs?</div><br>
	<div class='center_group_fitting_quiz_group'>
		<select class='brand_selection_first' onchange='click_on_competitors_first()'>
			<option></option>
			<option>Aubade</option>
			<option>Beedees</option>
			<option>Bon Prix</option>
			<option>C&A</option>
			<option>Calvin Klein</option>
			<option>Chantelle</option>
			<option>DIM</option>
			<option>Esprit</option>
			<option>ETAM</option>
			<option>Felina</option>		
			<option>H&M</option>		
			<option>Hunkemöller</option>
			<option>Intimissimi</option>	
			<option>Oysho</option>
			<option>Passionata</option>		
			<option>Tezenis</option>				
			<option>Triumph</option>	
			<option>Victoria's Secret</option>
			<option>Andere</option>
		
		</select>
	</div>
</div>
	
	<div class='button_fitting_quiz_group' id='button_sizing_first' style='display:none;opacity:0;'>
		<button name="submit" class="button_next_fitting_quiz" onclick="next_quiz_page(2,1)" id='button_next_fitting_quiz_question_0'>
			Weiter
		</button>

	</div>












</div>




