<div class="group_content_fitting_quiz" >

	<div class="headline_fitting_quiz">Wie passen die Cups?</div>


<div class="main_content_fitting_quiz">
	
	<div style='width:100%;float:left;'>
		<div class='block_0_question_3' onclick='select_picture_cups(this.id)' onmouseover="enter_picture_cups(this)" onmouseout="leave_picture_cups(this)" id='0'   >
		<img  class='photo_showroom' src='/static/showroom/cups_zu_gross.png'  ></img>
		<div class='block_1_text'>Cups liegen nicht ganz an</div>
		</div>


		<div class='block_0_question_3_ML' onclick='select_picture_cups(this.id)' onmouseover="enter_picture_cups(this)" onmouseout="leave_picture_cups(this)" id='1'>
		<img  class='photo_showroom' src='/static/showroom/cups_zu_klein.png'  ></img>
		<div class='block_1_text'>Cups sind etwas eng</div>
		</div>
		
		
		<div class='block_0_question_3_ML' onclick='select_picture_cups(this.id)' onmouseover="enter_picture_cups(this)" onmouseout="leave_picture_cups(this)" id='2' >
		<img  class='photo_showroom' src='/static/showroom/cups_gut.png' ></img>
		<div class='block_1_text'>Cups passen genau</div>
		</div>	  	
	</div>	  	
	
	<div class='button_fitting_quiz_group' style='display:none' id='button_quiz_cup'>
		<button name="submit" class="button_next_fitting_quiz" onclick="next_quiz_page(5,4)" >
			Weiter
		</button>

	</div>
</div>
</div>


	<div class="footer"  >
		<div class="sub_header_group_fitting_quiz" onclick="back_quiz_page(4,2)">
			<div class="back_button_fitting_quiz">&nbsp;</div>
			<div style='padding-left:13px;z-index:1;margin-top:-15px;'>Zurück</div>
		</div>
	</div>




