<div class="group_content_fitting_quiz" style='max-width:600px'>

	<div class="headline_fitting_quiz" style='margin-top:100px;color:#c34a5e;'>Nun zur Passform.</div><br>
	<div class="headline_fitting_quiz_subtitle">In den nächsten Fragen wollen wir verstehen, wie Dir Dein Lieblings-BH passt.</div>

	<div class='button_fitting_quiz_group'>
		<button name="submit" class="button_next_fitting_quiz" onclick="next_quiz_page(4,2)">
			Alles klar 
		</button>

	</div>
</div>


	<div class="footer"  >
		<div class="sub_header_group_fitting_quiz" onclick="back_quiz_page(3,2)">
			<div class="back_button_fitting_quiz">&nbsp;</div>
			<div style='padding-left:13px;z-index:1;margin-top:-15px;'>Zurück</div>
		</div>
	</div>
