<div class="group_content_fitting_quiz" >

	<div class="headline_fitting_quiz">Wie große bist Du?</div>
	<div class="headline_fitting_quiz_subtitle_question">Deine Größe kann einen Einfluss darauf haben, welche BH-Typen Dir gut passen.</div>


<div class="main_content_fitting_quiz" style='max-width:300px;    margin-left: auto; margin-right: auto;'>
	

	  	<div class='auswahl_balken_fitting_quiz_sizing' onclick='balken_fitting_quiz_question_sizing(this.id)' onmouseover="enter_balken_sizing(this)" onmouseout="leave_balken_sizing(this)" id='0'>155 cm oder kleiner</div>
	  	<div class='auswahl_balken_fitting_quiz_sizing' onclick='balken_fitting_quiz_question_sizing(this.id)' onmouseover="enter_balken_sizing(this)" onmouseout="leave_balken_sizing(this)" id='1'>155 cm bis 165 cm</div>
	  	<div class='auswahl_balken_fitting_quiz_sizing' onclick='balken_fitting_quiz_question_sizing(this.id)' onmouseover="enter_balken_sizing(this)" onmouseout="leave_balken_sizing(this)" id='2'>165 cm bis 180 cm</div>
	  	<div class='auswahl_balken_fitting_quiz_sizing' onclick='balken_fitting_quiz_question_sizing(this.id)' onmouseover="enter_balken_sizing(this)" onmouseout="leave_balken_sizing(this)" id='3'>180 cm oder größer</div>
	  	
	
	<div class='button_fitting_quiz_group' id='button_quiz_body_size' style='display:none;'>
		<button name="submit" class="button_next_fitting_quiz" onclick="next_quiz_page(17,16)">
			Weiter
		</button>

	</div>
</div>
</div>


	<div class="footer"  >
		<div class="sub_header_group_fitting_quiz" onclick="back_quiz_page(16,14)">
			<div class="back_button_fitting_quiz">&nbsp;</div>
			<div style='padding-left:13px;z-index:1;margin-top:-15px;'>Zurück</div>
		</div>
	</div>





