<div class="group_content_fitting_quiz" >

	<div class="headline_fitting_quiz" style='margin-top:100px;color:#c34a5e;'><img src='/static/showroom/ruler_2_filled.png' width='50'></img></div><br>
	<div class="headline_fitting_quiz_subtitle" id='fitting_quiz_answer_5_0' style='display:none'>Einen neuen BH solltest Du meist auf dem äußersten Haken tragen. Wenn Du den engsten Haken nutzt könnte Dein Band zu groß sein, oder bereits etwas ausgeleiert. Wir werden etwas passendes für Dich finden!</div>

	<div class="headline_fitting_quiz_subtitle" id='fitting_quiz_answer_5_2' style='display:none'>Ein neuer BH passt idealerweise auf dem äußersten Haken gut, sollte aber nicht eindrücken. Eventuell schlagen wir Dir am Ende des Quiz ein größeres Band vor.</div>

	<div class='button_fitting_quiz_group'>
		<button name="submit" class="button_next_fitting_quiz" onclick="next_quiz_page(10,8)">
			Alles klar
		</button>

	</div>
</div>



	<div class="footer"  >
		<div class="sub_header_group_fitting_quiz" onclick="back_quiz_page(9,8)">
			<div class="back_button_fitting_quiz">&nbsp;</div>
			<div style='padding-left:13px;z-index:1;margin-top:-15px;'>Zurück</div>
		</div>
	</div>
