
      

      
      <br>
            <br>

    <tr>
		<td align="center" height="70" valign="top">
			<table cellpadding="0" cellspacing="0" border="0" align="center" width="550">
			            <br>



				<tr>
					<td align="center"><a href="https://www.darlinglace.com/message_click/?link={{instagram_link}}"  target="_blank" title="Darling Lace auf Instagram"><img src="https://www.darlinglace.com/static/instagram.png" width="35" height="35" alt="Darling Lace auf Instagram" border="0" style="display:block;" /></a></td>
                    
                    <td align="center"><a href="https://www.darlinglace.com/message_click/?link={{facebook_link}}"  target="_blank" title="Darling Lace auf Facebook"><img src="https://www.darlinglace.com/static/facebook.png" width="35" height="35" alt="Darling Lace auf Facebook" border="0" style="display:block;" /></a></td>

				</tr>
			</table>			
		</td>
	</tr>
      
    <tr><td align="center" height="2" bgcolor="#e9e9e9"></td></tr>
    <tr>
		<td align="center" height="40" >
			<table cellpadding="0" cellspacing="0" border="0" align="center" width="550" >
				<tr>
					<td align="center" width="140"><a href="https://www.darlinglace.com/message_click/?link={{kontaktiere_uns}}" title="Kontaktiere uns" target="_blank"><img src="https://www.darlinglace.com/static/Kontakt.png" width="169" height="35" alt="Kontaktiere uns" border="0" style="display:block;" /></a></td>
                    
                    <td align="center" width="90" valign="middle"><a href="https://www.darlinglace.com/message_click/?link={{VIP_club}}" title="Unser VIP Club" target="_blank"><img src="https://www.darlinglace.com/static/VIP.png" width="117" height="35" alt="Unser VIP Club" border="0" style="display:block;" /></a></td>
					
					<td align="center" width="200"><a href="https://www.darlinglace.com/message_click/?link={{versand_retoure}}" title="Versand und Retoure" target="_blank"><img src="https://www.darlinglace.com/static/Versand.png" width="215" height="35" alt="Versand und Retoure" border="0" style="display:block;" /></a></td>
					
					<td align="center" width="120"><a href="https://www.darlinglace.com/message_click/?link={{ueber_uns}}"  title="Über uns" target="_blank"><img src="https://www.darlinglace.com/static/About.png" width="115" height="35" alt="Über uns" border="0" style="display:block;" /></a></td>
				</tr>
			</table>			
		</td>
	</tr>
    <tr><td align="center" height="2" bgcolor="#e9e9e9"></td></tr>
	<tr>
		<td valign="top" align="center">
			<p align="center" style="font-size: 12px; line-height: 17px;"><font face="arial" color="#555555">
                <br />Diese Nachricht wurde an <span style="text-decoration: none; color:#555555;">{{email_adresse}}</span> geschickt. Du erhälst diese E-Mail, weil Du Dich entweder angemeldet oder einen Kauf erledigt hast bei DarlingLace.com.<br /><br />
                
                

                 
                 

            
                        MAFI Investments GmbH | Lindwurmstraße 99 | 80337 München | Geschäftsführung: Maximilian Fischer<br>
        Eingetragen beim Amtsgericht München, Registernummer: HRB 218380<br>
        <a href="https://www.darlinglace.com/message_click/?link={{datenschutz}}"  title="Datenschutz" target="_blank" style="color: #555555;">Datenschutz</a>
        

			</p>
		</td>
	</tr>		
	
<!-- end of footer -->

</tbody>
</table>

</body>
</html>