{% include "header_top_emails.html" %}



<tr>
<td align="left" width="590"><font face="verdana" size="-1"><br>



        {{von}} lädt Dich zu Darling Lace ein. Darling Lace bietet Dir monatlich die neusten Dessous in top Qualität zu attraktiven Preisen. In Deinem persönlichen Showroom findest Du bei Darling Lace perfekt passende Dessous auf Basis eines einzigartigen Fitting Quiz! 
        <br><br>
        Klicke hier für Deinen persönlichen Gutschein von 15 €: <br><br><div style='margin: 0 auto;background-color:#b51d36;color:#FFFFFF;font-weight:bold;border-radius: 5px;text-align:center;cursor:pointer;width:250px;height:30px;line-height:30px;' ><a href='https://www.darlinglace.com/message_click/?link={{einladung}}' style='text-decoration:none !important; text-decoration:none;color:#ffffff;'>Deinen Gutschein abrufen</a></div>
        <br><br><br>
        Persönliche Nachricht von {{von}}:<br><br>{{message}}
<br>
</td>
</tr>


{% include "footer_emails.html" %}