<div style='width:100%;border-top:1px solid #e6e6e6 ;float:left;margin-top:20px;font-size:10px;margin:0 auto;margin-top:10px;'><div class="bestellnummer_email" style='font-size:10px;'><br></div>
        <div style='width:100%;text-align:center;line-height:15px;'>
        Bitte beachte: Diese E-Mail dient lediglich der Bestätigung des Einganges Deiner Bestellung und stellt noch keine Annahme Deines Angebotes auf Abschluss eines Kaufvertrages dar. Der Kaufvertrag für einen Artikel kommt zu Stande, wenn wir Deine Bestellung annehmen, indem wir Dir eine E-Mail mit der Benachrichtigung zusenden, dass der Artikel an Dich versandt wurde. <br><br>


        MAFI Investments GmbH | Lindwurmstraße 99 | 80337 München | Geschäftsführung: Maximilian Fischer<br>
        Eingetragen beim Amtsgericht München, Registernummer: HRB 218380<br>
        <a href='https://www.darlinglace.com/datenschutz/'>Datenschutz</a><br>
            
        </div>  
