        <html><head><link href='https://fonts.googleapis.com/css?family=Roboto:100,300,700' rel='stylesheet'></head><body style='font-family:Helvetica;font-size:16px;' style='font-family: 'Roboto', sans-serif;'>


        <a href='https://www.darlinglace.com/' style='text-decoration:none !important; text-decoration:none;color:#ffffff;'><div style='height:50px;cursor:pointer;background: url("https://www.darlinglace.com/static/darling_lace.png");background-size: 180px;background-position: center center; background-repeat:   no-repeat;'  >&nbsp;</div></a>


                
        <div style='margin: 0 auto;max-width:500px;'><br>