{% comment %}<script src="/static/bootstrap.min4.js"></script>{% endcomment %}
<script type="text/javascript"  id="url_data" >{{url | safe}}</script>

{% comment %}<script type="text/javascript"  class="bereitsbestellt" >{{bereitsbestellt | safe}}</script>
<script type="text/javascript"  class="bereitsversandt" >{{bereitsversandt | safe}}</script>	{% endcomment %}


<div class="header_bottom_page_infos">
	<div class="header_detail_page_infos">
		<div class="header-bottom_page_infos">

			<div class='box_0_group'>
				<div style='text-align:left;font-weight:500;font-size:16px;padding-top:10px;'>DEINE VORTEILE</div>
				<div class='block_main_2'>
					<div id='block_main_headline_1'>&nbsp;</div>
					<div class='block_main_text'>
						<a href='https://www.darlinglace.com/Produktauswahl/BH%20Sets/'>BH Sets ab 19,95€</a> <strike>39,95€</strike>
					</div>
						
				</div>


				<div class='block_main_2' >
					<div id='block_main_headline_2'>&nbsp;</div>
					<div class='block_main_text'>
						<a href='https://www.darlinglace.com/wie_funktioniert_VIP/'>Jedes 6. Set geschenkt</a>
					</div>
						
				</div>
				
				<div class='block_main_2'>
					<div id='block_main_headline_3'>&nbsp;</div>
					<div class='block_main_text'>
						 <a href='https://www.darlinglace.com/versand_rueckversand/'>Gratis Versand und Retouren</a>
					</div>
						
				</div>


				<div class='block_main_2'>
					<div id='block_main_headline_4'>&nbsp;</div>
					<div class='block_main_text'>
						<a href='https://www.darlinglace.com/support/'>Kundenservice mit Herz</a>
					</div>
						
				</div>


				<div class='block_main_2' >
					<div id='block_main_headline_5'>&nbsp;</div>
					<div class='block_main_text'>
						<a href='https://www.darlinglace.com/quiz_fitting/'>Passform-Garantie</a>
					</div>
						
				</div>
				
				<div class='block_main_2'>
					<div id='block_main_headline_6'>&nbsp;</div>
					<div class='block_main_text'>
						 <a href='https://www.darlinglace.com/versand_rueckversand/'>30 Tage Rückgabe</a>
					</div>
						
				</div>
				

			</div>



			<div class='box_0_group_zahlungsmoeglichkeiten'>
				<div style='text-align:left;font-weight:500;font-size:16px;padding-top:10px;'>UNSERE ZAHLUNGSMÖGLICHKEITEN</div>
				<div style='float:left;width:100%;margin-bottom:20px;margin-top:20px;'>
					<img  src='/static/PayPal_klein.png' class='img-responsive' style='float:left;' width='100' alt='PayPal'></img>		
					<img src='/static/Visa_klein.png' class='img-responsive' style='float:left;margin-left:20px;' width='60' alt='Visa Kreditkarte'></img>		
					<img src='/static/Mastercard_klein.png' class='img-responsive' style='float:left;margin-left:20px;' width='40' alt='Master Kreditkarte'></img>
				</div>


				<div style='float:left;margin-bottom:40px;;width:100%;'>
					<img src='/static/Klarna_klein.png' class='img-responsive' style='float:left;' width='80' alt='Klarna: Kauf auf Rechnung'></img>	
					<img src='/static/Sofort_klein.png' class='img-responsive' style='float:left;margin-left:20px;' width='80' alt='Sofortüberweisung'></img>		
				</div>				
				<div style='text-align:left;font-weight:500;font-size:16px;padding-top:10px;'>SICHERER VERSAND MIT</div>			
					<img  src='/static/DHL_rgb_256px.png' class='img-responsive' style='float:left;margin-top:20px;' width='100' alt='Versand mit DHL'></img>	<br><br><br>
				<div style='text-align:left;font-weight:500;font-size:16px;padding-top:10px;'>SICHER EINKAUFEN</div>			
					<img  src='/static/ssl.png' class='img-responsive' style='float:left;margin-top:10px;' width='40' alt='SSL verschlüsselt'></img>
			</div>	
		</div>
	</div>
</div>