<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% include "header.html" %}

		

<link type="text/css" rel="stylesheet" media="screen" href="/static/hilfe_page.css" />
<link rel="stylesheet" href="/static/verschicke_gutscheine.css" type="text/css" media="all" />
<link rel="stylesheet" href="/static/account_page.css" type="text/css" media="all" />
<link rel="stylesheet" href="/static/detail_page.css" type="text/css" media="all" />

<link type="text/css" rel="stylesheet" media="screen" href="/static/showroom.css" />

 <script type="text/javascript" async>
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="https://v2.zopim.com/?5A163k4mlM1kwLvJE4RvIb8ZyHMCLVMr";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script> 

</head>
  

  <body style="font-family: 'Roboto', sans-serif;;color: #4E4E4E;font-weight: 300;" onclick='reset_header()' >
  <div class="overlay" onclick='reset_sidebar()'><div class="loader"></div> </div>


   <div class="modal_mobile_sidebar">					  
  	<div id="mySidenav" class="sidenav">

		</div>
</div> 
<div id="overall_page">


  {% include "modals.html" %}

  



			 {% include "header_main_body.html" %}
	
	

	

	<div id="x-mask_2" class="mask">
	<div style='margin-bottom:20px'>
	<div id='support_image' class='img-responsive'>&nbsp;</div>
	</div>		

					<div class="gruppen"><h1 style='font-size:18px;line-height:35px; font-weight: 500;text-align:center;margin-top:20px;'>Wie kontaktierst Du uns?</h1></div><br>
					
					<div class="gruppe_gruppenelement">
						<div class="gruppenelement">
							<div class="service_headline"><h2 style='line-height:20px;font-weight:500;'>Sende uns eine Nachricht</h2></div>
							<div class="service_text">Wir werden Dir innerhalb von zwei Stunden während der Geschäftszeiten antworten.</div><br>
							<div class="button_helpdesk_open" onclick='open_email()'>E-Mail senden</div>
						</div>
						
						<div class="gruppenelement">
							<div class="service_headline"><h2 style='line-height:20px;font-weight:500;'>Chatte mit uns</h2></div>
							<div class="service_text">Wir antworten Dir sofort zwischen 09:00-19:00 Uhr, Montag-Freitag.</div><br>
							<div class="button_helpdesk_open" onclick='open_chat()'>Chat öffnen</div>
						</div>
						
						<div class="gruppenelement">
							<div class="service_headline"><h2 style='line-height:20px;font-weight:500;'>Rufe uns an</h2></div>
							<div class="service_text">Rufe uns an unter +49 30 588 49584. Wir sind erreichbar zwischen 09:00-19:00 Uhr, Montag-Freitag.</div><br>
							<div class="button_helpdesk_open" onclick='call_support()'>Anrufen</div>
						</div>
						

		</div>	


</div>


<script src="/static/hilfe_page.js"></script>

{% include "header_sub.html" %}




<div class="header_bottom_all"><div class="header_detail"><div class="header-bottom"></div></div></div>

</body>
<script type="text/javascript"  class="wishlist_quantity" >{{wishlist_quantity | safe}}</script>
<script type="text/javascript"  class="cart_quantity" >{{cart_quantity | safe}}</script>

<script type="text/javascript"  class="telefonnummer" >{{telefonnummer | safe}}</script>
<script type="text/javascript"  class="lingerie_data" >{{lingerie_offerings | safe}}</script>
<script type="text/javascript"  class="warenkorb_daten" >{{warenkorb | safe}}</script>	
<script type="text/javascript"  class="colors" >{{colors | safe}}</script>	
<script type="text/javascript"  class="links" >{{links | safe}}</script>
<script type="text/javascript"  class="filter" >{{filter | safe}}</script>		
<script type="text/javascript"  class="wishlist" >{{wishlist | safe}}</script>
<script type="text/javascript"  class="bestellungen" >{{bestellungen | safe}}</script>

<script type="text/javascript">load_header("{{login}}");links_laden("{{url}}");</script>


</html>