<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% include "header.html" %}

<link rel="stylesheet" href="/static/detail_page.css" type="text/css" media="all" />

 <link type="text/css" rel="stylesheet" media="screen" href="/static/impressum.css" />

</head>
  <body onclick='reset_header()' style="font-family: 'Roboto', sans-serif;font-weight: 300;">
  




  <div class="overlay" onclick='reset_sidebar()'><div class="loader"></div> </div>
   <div class="modal_mobile_sidebar">					  
  	<div id="mySidenav" class="sidenav">

		</div>
</div> 

<div id="overall_page">

  {% include "modals.html" %}


			 {% include "header_main_body.html" %}

	
	


	<div id="x-mask_2" class="mask">

		
	
		
		<h1 style='text-align:center;font-size:20px;margin-top:30px;font-weight:500;margin-bottom:20px;padding-left:10px;padding-right:10px;'>Impressum</h1>	
		
		<div class='block_gesamt_vesand'>
		<br><br>
					
						Angaben gemäß § 5 TMG:<br><br>
						
						Diese Webseite www.darlinglace.com wird publiziert von:<br><br>
						<b>
						MAFI Investments GmbH<br>
						Lindwurmstraße 99<br>
						80337 München<br>
						Deutschland<br><br>
						</b>
						Vertreten durch: Herr Maximilian Fischer<br><br>
						
						<b>Kontakt:</b><br>
						Internet:  www.darlinglace.com<br>
						E-Mail:  service@darlinglace.com<br>
						Tel.:  +49 30 588 49584<br><br>
						
						<b>Geschäftsführung:</b><br>
						Maximilian Fischer<br><br>
						
						Eingetragen beim Amtsgericht München, Registernummer: HRB 218380<br>
						Verantwortlicher für eigene Inhalte der Darling Lace GmbH gem. § 55 RStV: Maximilian Fischer<br><br>
						
						<b>Umsatzsteuer-ID:</b><br>
						DE300116458<br><br>
						
						Bitte beachten Sie folgende gesetzliche Pflichtinformation: Die EU-Kommission betreibt eine Plattform zur Online-Streitbeilegung. Diese ist unter www.ec.europa.eu/consumers/odr erreichbar.
						Wir sind zur Teilnahme an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle weder verpflichtet noch bereit.<br><br><br>
						
						
<br>
<b>Quellenangaben für Icons</b>
<br><br>
<div>Icons made by <a href="https://www.flaticon.com/authors/lucy-g" title="Lucy G">Lucy G</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<br>
<div>Icons made by <a href="https://www.flaticon.com/authors/nikita-golubev" title="Nikita Golubev">Nikita Golubev</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<br>
<div>Icons made by <a href="https://www.flaticon.com/authors/cursor-creative" title="Cursor Creative">Cursor Creative</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<br>
<div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<br>
<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<br>
<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<br>
<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<br>
<div>Icons made by <a href="https://www.flaticon.com/authors/marta-copola" title="Marta Copola">Marta Copola</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<br>
<div>Icons made by <a href="https://www.flaticon.com/authors/elegant-themes" title="Elegant Themes">Elegant Themes</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<br>
<div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<br>
<div>Icons made by <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<br>
<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<br>
<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<br>
<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<br>
<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<br>
<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<br>
<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<br>
<div>Icons made by <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<br>
<div>Icons made by <a href="https://www.flaticon.com/authors/popcic" title="Popcic">Popcic</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<br>
<div>Icons made by <a href="https://www.flaticon.com/authors/vignesh-oviyan" title="Vignesh Oviyan">Vignesh Oviyan</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<br>
<div>Icons made by <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<br>
<br>
Für alle Links zu anderen Seiten im Internet erklärt die MAFI Investments GmbH ausdrücklich, dass sie keinerlei Einfluss auf die Gestaltung und die Inhalte der verlinkten Seiten hat. Deshalb distanzieren wir uns hiermit ausdrücklich von allen Inhalten aller verlinkten Seiten Dritter. Wir machen uns diese Inhalte nicht zu Eigen und übernehmen keine Haftung und Gewähr für diese fremden Inhalte. Diese Erklärung gilt für alle angezeigten Links und für alle Inhalte der Seiten, zu denen Links führen.
<br>
<br>



							
							
														
						</div>


						</div>



		
{% include "header_sub.html" %}


</div>
<div class="header_bottom_all"><div class="header_detail"><div class="header-bottom"></div></div></div>
<script type="text/javascript"  class="wishlist" >{{wishlist | safe}}</script>
<script type="text/javascript"  class="warenkorb_daten" >{{warenkorb | safe}}</script>	
<script type="text/javascript"  class="links" >{{links | safe}}</script>
<script type="text/javascript"  class="bestellungen" >{{bestellungen | safe}}</script>
<script type="text/javascript"  class="wishlist_quantity" >{{wishlist_quantity | safe}}</script>
<script type="text/javascript"  class="cart_quantity" >{{cart_quantity | safe}}</script>	
		<script type="text/javascript">load_header("{{login}}");links_laden("{{url}}");</script>
</body>





</html>










