{% include "header_top_emails_marketing.html" %}
    
    
	
<!-- Main text -->
<br>
<tr>
<td align="center" bgcolor="#ffffff">
<table cellpadding="0" cellspacing="0" border="0" align="center" width="550">
<tbody>
<tr>
<td align="center"><a href="https://www.darlinglace.com/message_click/?link={{marketing_email_2_bild_1}}" target="_blank" title="Valentine's Day is coming in hot"><img src="https://www.darlinglace.com/static/email_marketing/180213 EMail 3 Teil 1 Valentingstag v2.jpg" width="550" height="733" alt="Valentine's Day is coming in hot" border="0" style="display:block;"></a></td>
</tr>
<tr>
<td align="center"><a href="https://www.darlinglace.com/message_click/?link={{marketing_email_2_bild_2}}" target="_blank" title="Unsere BH Sets passen perfekt zum Valentinstag und zu Dir"><img src="https://www.darlinglace.com/static/email_marketing/180131_Email_1_Teil_1.gif" width="550" height="683" alt="Unsere BH Sets passen perfekt zum Valentinstag und zu Dir" border="0" style="display:block;"></a></td>
</tr>

<td align="center" height="15" bgcolor="#ffffff"></td>


<table width="550" align="center" border="0" cellspacing="0" cellpadding="0"><tr>
<td align="center"><a title="Mia Push-Up" href="https://www.darlinglace.com/message_click/?link={{marketing_email_2_mia}}" target="_blank"><img width="180" height="236" style="display:block" alt="Mia Push-Up" src="https://www.darlinglace.com/static/email_marketing/180214_small_1.jpg" border="0"></a></td>
<td align="center"><a title="Jil Unlined" href="https://www.darlinglace.com/message_click/?link={{marketing_email_2_jil}}" target="_blank"><img width="190" height="236" style="display:block" alt="Jil Unlined" src="https://www.darlinglace.com/static/email_marketing/180214_small_2.jpg" border="0"></a></td>
<td align="center"><a title="Eva Unlined" href="https://www.darlinglace.com/message_click/?link={{marketing_email_2_eva_unlined}}" target="_blank"><img width="180" height="236" style="display:block" alt="Eva Unlined" src="https://www.darlinglace.com/static/email_marketing/180214_small_3.jpg" border="0"></a></td>
</tr>
<tr>
<td width="180" height="36" align="center" valign="middle"><font color="#000000" face="arial"><span style="font-size:14px;line-height:16px">Mia Push-Up</span></font></td>
<td width="190" height="36" align="center" valign="middle"><font color="#000000" face="arial"><span style="font-size:14px;line-height:16px">Jil Unlined</span></font></td>
<td width="180" height="36" align="center" valign="middle"><font color="#000000" face="arial"><span style="font-size:14px;line-height:16px">Eva Unlined</span></font></td>
</tr>
<tr>
<td align="center"><a title="Eva Balconette" href="https://www.darlinglace.com/message_click/?link={{marketing_email_2_eva_balconette}}" target="_blank"><img width="180" height="236" style="display:block" alt="Eva Balconette" src="https://www.darlinglace.com/static/email_marketing/180214_small_4.jpg" border="0"></a></td>
<td align="center"><a title="Pia Contour" href="https://www.darlinglace.com/message_click/?link={{marketing_email_2_pia}}" target="_blank"><img width="190" height="236" style="display:block" alt="Pia Contour" src="https://www.darlinglace.com/static/email_marketing/180214_small_5a.jpg" border="0"></a></td>
<td align="center"><a title="Anna Plunge" href="https://www.darlinglace.com/message_click/?link={{marketing_email_2_anna}}" target="_blank"><img width="180" height="236" style="display:block" alt="Anna Plunge" src="https://www.darlinglace.com/static/email_marketing/180214_small_6.jpg" border="0"></a></td>
</tr>
<tr>
<td width="180" height="34" align="center" valign="middle"><font color="#000000" face="arial"><span style="font-size:14px;line-height:16px">Eva Balconette</span></font></td>
<td width="190" height="34" align="center" valign="middle"><font color="#000000" face="arial"><span style="font-size:14px;line-height:16px">Pia Contour</span></font></td>
<td width="180" height="34" align="center" valign="middle"><font color="#000000" face="arial"><span style="font-size:14px;line-height:16px">Anna Plunge</span></font></td>
</tr>
</tbody>
</table>





<tr>
<td align="center"><a href="https://www.darlinglace.com/message_click/?link={{marketing_email_2_bild_3}}" target="_blank" title="Unsere BH Sets passen perfekt zum Valentinstag und zu Dir"><img src="https://www.darlinglace.com/static/email_marketing/180213 EMail 3 Teil 1 Valentingstag.jpg" width="550" height="683" alt="Unsere BH Sets passen perfekt zum Valentinstag und zu Dir" border="0" style="display:block;"></a></td>
</tr>

<td align="center" height="15" bgcolor="#ffffff"></td>

</tr>


</tbody>
</table>
</td>
</tr>
<!-- End of Main text --><!-- Footer -->

{% include "footer_emails_marketing.html" %}