<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% include "header.html" %}

<link rel="stylesheet" href="/static/order_summary_style_3.css" type="text/css" media="all" />



 




</head>

<body style="font-family: 'Roboto', sans-serif;">

  <div class="overlay" onclick='reset_sidebar()'><div class="loader"></div> </div>

  <div class="modal_mobile_sidebar">					  
  	<div id="mySidenav" class="sidenav">

		</div>
</div>
	<div id="overall_page" >

		 {% include "header_main_body.html" %}



  {% include "modals.html" %}
	<div class="uebersicht">


	<b><div class="profil_beschriftung"><div class="links_profil" onclick="profil_hauptseite()">Mein Profil</div><div style="float:left;margin-right:5px;"> > </div><div class="links_profil" onclick="bestellung_bearbeiten_hauptseite()">Meine Bestellungen</div><div style="float:left;margin-right:5px;"> > </div>Bestelldetails</b><br></div>




		<div class="header_style">
			<div class="zusammenfassung">
				<div class="headline"><div class="bestellnummer"></div><div class="headline_text">Bestelldatum:</div></div><br>
					<div class="bestellung">
						<div class="lingerie_with_border">

							<div class="ueberschrift_gruppen" style="text-align:center;">BESTELLUNG</div>
							
							<div class="horizontaler_strich"></div><br><br>

							<div class="lingerie_i"></div>
							

						</div>
						
						


						
						
						
	
						<div class="lingerie_with_border">

							<div class="ueberschrift_gruppen" style="text-align:center;">ZAHLUNG</div>
							<div class="horizontaler_strich"></div><br><br>
							<div class="zahlung"></div>

						</div>
		

						<div class="lingerie_wo_border" >

							<div class="ueberschrift_gruppen" style="text-align:center;">LIEFERUNG</div>
							<div class="horizontaler_strich"></div><br><br>

							<div class="lieferung_i"></div>

							<div class="lieferungs_uebersicht_inhalt"></div>
						</div>
					</div>
					
			</div>
			

				
		</div>


		


		<div class="bearbeitunsblock_hinzufuegen"></div>

		



		


		

		<script src="/static/order_summary_7.js"></script>




	{% include "header_sub.html" %}


</div>
</div>
<br><br><br><div class="header_bottom_all"><div class="header_detail"><div class="header-bottom"></div></div></div>
<script type="text/javascript"  class="wishlist_quantity" >{{wishlist_quantity | safe}}</script>
<script type="text/javascript"  class="cart_quantity" >{{cart_quantity | safe}}</script>
<script type="text/javascript"  id="contents_list" >{{contents_list | safe}}</script>	

<script type="text/javascript"  class="bestellung_daten" >{{bestellung | safe}}</script>
<script type="text/javascript"  class="fahrerkapazitaet_daten" >{{fahrerkapazitaet | safe}}</script>
<script type="text/javascript"  class="lingerie_daten" >{{lingerieselection | safe}}</script>
<script type="text/javascript"  class="bestelldetails_daten" >{{bestelldetails | safe}}</script>
<script type="text/javascript"  class="wishlist" >{{wishlist | safe}}</script>
<script type="text/javascript"  class="warenkorb_daten" >{{warenkorb | safe}}</script>
<script type="text/javascript"  class="links" >{{links | safe}}</script>	
<script type="text/javascript"  class="rebates" >{{rebates | safe}}</script>	
<script type="text/javascript"  class="bestellungen" >{{bestellungen | safe}}</script>
<script type="text/javascript"  class="bestellung_gesamt" >{{bestellung_gesamt}}</script>
<script type="text/javascript"  class="stylecodes_colorcodes" >{{stylecodes_colorcodes}}</script>

  	
		<script type="text/javascript">load_header("{{ login }}");links_laden("{{ url }}");bestellung_aufrufen();bestellung_block(0);bestellte_lingerie_anzeigen();lieferuebersicht();bestellnummer_abrufen();bearbeitungsblock_hinzufuegen();warenkorb_abrufen("{{cart_gesamt}}");check_google_analytics();</script>
</body>




</html>