{% include "header_top_emails.html" %}



<tr>
<td align="left" width="590"><font face="verdana" size="-1"><br>

        Für Dein Kundenkonto bei Darling Lace wurde ein neues Passwort angefordert. Bitte klicke auf folgenden Link um ein neues Passwort zu vergeben: <a href='https://www.darlinglace.com/message_click/?link={{passwort_vergessen}}' style='text-decoration:none !important;'>Passwort zurücksetzen</a>.
<br><br>
        Du hast keine Anfrage zum zurücksetzen Deines Passworts bei Darling Lace getätigt? Dann kannst Du diese Email einfach ignorieren.
<br><br>
 </td>
</tr>


{% include "footer_emails.html" %}