<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% include "header.html" %}

<link rel="stylesheet" href="/static/detail_page.css" type="text/css" media="all" />

 

</head>
  <body onclick='reset_header()' style="font-family: 'Roboto', sans-serif;">
  




  <div class="overlay" onclick='reset_sidebar()'><div class="loader"></div> </div>
   <div class="modal_mobile_sidebar">					  
  	<div id="mySidenav" class="sidenav">

		</div>
</div> 

<div id="overall_page">

  {% include "modals.html" %}


				 {% include "header_main_body.html" %}

	


	<div id="x-mask_2" class="mask">

		
		
		<div class="header_style">
			<div class="zusammenfassung">
				<div class="headline"><div class="headline_text">PASSWORT BEARBEITEN</div><div class="bestellnummer"></div></div><br>



					<b><div class="eingabefelder_headline_pw" id="neues_passwort_text">Neues Passwort</b><br><br>
					<input class="eingabefelder_pw" id="neues_passwort" type="password" onkeyup="input_on_change_passwort_neu(document.getElementById('neues_passwort'),document.getElementById('neues_passwort_text'))"/>
					</div>
					
					
					<b><div class="eingabefelder_headline_pw" id="neues_passwort_wiederholen_text">Neues Passwort wiederholen</b><br><br>
						<input class="eingabefelder_pw" id="neues_passwort_wiederholen" type="password" onkeyup="input_on_change_passwort_neu(document.getElementById('neues_passwort_wiederholen'),document.getElementById('neues_passwort_wiederholen_text'))"/>
					</div>
				<br>
				<div id="eingabe_fehler" style="font-size:12px;color:#C80000;position:absolute;"></div>
				


				
				<br><br><br>

				<button class="button_main" onclick="passwort_aendern('{{security_key}}')" style="pointer-Events:none;opacity:0.4;">Aktualisieren</button>

				
				
					

			</div>
		
				
		</div>
		
		




		


		

		<script src="/static/profil_bearbeiten.js"></script>

		<script src="/static/bootstrap.min.js"></script>
		



</div>
<div class="header_bottom_all"><div class="header_detail"><div class="header-bottom"></div></div></div></div>
<script type="text/javascript"  class="wishlist" >{{wishlist | safe}}</script>
<script type="text/javascript"  class="warenkorb_daten" >{{warenkorb | safe}}</script>	
<script type="text/javascript"  class="links" >{{links | safe}}</script>
<script type="text/javascript"  class="bestellungen" >{{bestellungen | safe}}</script>
<script type="text/javascript"  class="wishlist_quantity" >{{wishlist_quantity | safe}}</script>
<script type="text/javascript"  class="cart_quantity" >{{cart_quantity | safe}}</script>	
		<script type="text/javascript">load_header("{{login}}");password_check_2("{{password}}");links_laden("None");</script>
</body>





</html>