<script type="text/javascript"  id="quiz_footer_show" >{{quiz_footer | safe}}</script>

	<div class="footer_passform_fixed_passform"  >
		<div class="sub_header_group_passform">
		
			<div style='height:100%;float:left;'>
				<img class="massband_passform" src='/static/measuring-tape_start_page.png' width='50'></img>
				<div style='height:100%;margin-left:50px;float:left;font-size:18px;padding-top:25px;'>
					<div style='float:left;'>
						<div style='font-weight:500;font-size:18px;'>
							Deine perfekte Passform
						</div>
						<div style='font-weight:300;font-size:16px;padding-top:10px;'>
							Mach unser Quiz und finde Deinen passenden BH
						</div>
					</div>
					
					<div style='float:left;margin-left:40px;padding-top:10px;'>
						<button name="submit" class="button_passform" onclick="quiz_laden()" id='button_next_fitting_quiz_question_0'>
						Zum Quiz
						</button>
					</div>
					<div style='float:left;margin-left:30px;padding-top:15px;'>
						<div onclick="kein_quiz()" id='kein_quiz_button'>
						Schließen
						</div>
					</div>
				</div>
				</div>			
	
			</div>


			
		</div>
		

