<div class="group_content_fitting_quiz" >

	<div class="headline_fitting_quiz">Let's talk about your current everyday bra, the one that fits you best. What size is it?</div>


<div class="main_content_fitting_quiz">
	
	
	
	
  <div class='bund_group'>Bund-Größe</div><br>
	
	<div class='size_selection_group'>
	  	<div class='circle_band' onclick='band_click(this.id)' id='0' ><div class='band'>60</div></div>
		<div class='circle_band' onclick='band_click(this.id)' id='1'><div class='band'>65</div></div>
		<div class='circle_band' onclick='band_click(this.id)' id='2'><div class='band'>70</div></div>
		<div class='circle_band' onclick='band_click(this.id)' id='3'><div class='band'>75</div></div>
		<div class='circle_band' onclick='band_click(this.id)' id='4'><div class='band'>80</div></div>
		<div class='circle_band' onclick='band_click(this.id)' id='5'><div class='band'>85</div></div>
		<div class='circle_band' onclick='band_click(this.id)' id='6'><div class='band'>90</div></div>
		<div class='circle_band' onclick='band_click(this.id)' id='7'><div class='band'>95</div></div>
		<div class='circle_band' onclick='band_click(this.id)' id='8'><div class='band'>100</div></div>
		<span class='stretch'></span>
  	</div>
	 <br><br>
  <div class='bund_group'>Cup-Größe</div><br>
	<div class='size_selection_group'>
	  	<div class='circle_cup' onclick='cup_click(this.id)' id='0' ><div class='band'>AA</div></div>
		<div class='circle_cup' onclick='cup_click(this.id)' id='1'><div class='band'>A</div></div>
		<div class='circle_cup' onclick='cup_click(this.id)' id='2'><div class='band'>B</div></div>
		<div class='circle_cup' onclick='cup_click(this.id)' id='3'><div class='band'>C</div></div>
		<div class='circle_cup' onclick='cup_click(this.id)' id='4'><div class='band'>D</div></div>
		<div class='circle_cup' onclick='cup_click(this.id)' id='5'><div class='band'>E</div></div>
		<div class='circle_cup' onclick='cup_click(this.id)' id='6'><div class='band'>F</div></div>
		<div class='circle_cup' onclick='cup_click(this.id)' id='7'><div class='band'>G</div></div>
		<div class='circle_cup' onclick='cup_click(this.id)' id='8'><div class='band'>H</div></div>
		<span class='stretch'></span>
  	</div>
	 <br><br>
	
	


	</div>
	
  <div class='bund_group'>Wie heißt die Marke deines Lieblings-BHs?</div><br>
	<div class='center_group_fitting_quiz_group'>
		<select class='brand_selection' onclick='click_on_competitors()'></select>
	</div>
	
	
	<div class='button_fitting_quiz_group'>
		<button name="submit" class="button_next_fitting_quiz"  onclick="abc()">
			Weiter
		</button>

	</div>
</div>


<!-- <div class="header_top_all_fitting_quiz"   id='second_header_top_all'>
	<div class="sub_header_group_fitting_quiz">
	asd
	</div>
</div> -->





