<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% include "header.html" %}


<link rel="stylesheet" href="/static/detail_page.css" type="text/css" media="all" />

</head>
<body style="font-family: 'Roboto', sans-serif;">

  <div class="overlay" onclick='reset_sidebar()'><div class="loader"></div> </div>

  <div class="modal_mobile_sidebar">					  
  	<div id="mySidenav" class="sidenav">

		</div>
</div>
	<div id="overall_page" >

		 {% include "header_main_body.html" %}
	

	<div id="x-mask" class="uebersicht">


		<b><div class="profil_beschriftung"><div class="links_profil" onclick="profil_hauptseite()">Mein Profil</div><div style="float:left;margin-right:5px;"> > </div><div class="links_profil" onclick="VIP_mitgliedschaft_bearbeiten()">VIP Mitgliedschaft</div><div style="float:left;margin-right:5px;"> > </div>VIP Mitgliedschaft aufgeben</b><br></div>

  {% include "modals.html" %}

		
		
		<div class="header_style">
			<div class="zusammenfassung">
				<div class="headline"><div class="headline_text">VIP MITGLIEDSCHAFT AUFGEBEN?</div></div><br><br>
				
				
				<div style='font-size:16px'><b>Hier erfährst Du, was Du verlieren würdest.</b><br><br>Weißt Du, welche Vorteile Du verlieren würdest, wenn Du die VIP Mitglieschaft aufgeben würdest?</div><br><br>
				

				<br><img style='float:left' src='/static/discount_icon.png' width='45' height='40'/><div style='margin-top:10px;margin-left:60px;font-size:16px;'>Keinen <b>Rabatt von 10€ </b>auf jedes Set</div><br>
				
				<br><img style='float:left' src='/static/gift.png' width='45' height='40'/><div style='margin-top:10px;margin-left:60px;font-size:16px;'>Keine exklusiven <b>VIP Rabatte</b>, wie z.B. regelmäßige Gutscheincodes</div><br>
				
				
				<br><img style='float:left' src='/static/bra_filled.png' width='45' height='40'/><div style='margin-top:10px;margin-left:60px;font-size:16px;'>Keine Möglichkeit den <b>6. BH geschenkt</b> zu erhalten</div><br><br><br>
					
					
				<button class="button_kuendigung_VIP" onclick="VIP_nicht_kuendigen()">VIP bleiben</button>
				<button class="button_kuendigung_VIP" onclick="VIP_kuendigen()">VIP aufgeben</button>
				
				</div>
	
					

			</div>


		

		<script src="/static/VIP_bearbeiten1.js"></script>


		{% include "header_sub.html" %}

</div>
<br><br><br><div class="header_bottom_all"><div class="header_detail"><div class="header-bottom"></div></div></div>
			<script type="text/javascript"  class="profil_daten" >{{profildaten | safe}}</script>
<script type="text/javascript"  class="wishlist" >{{wishlist | safe}}</script>
<script type="text/javascript"  class="warenkorb_daten" >{{warenkorb | safe}}</script>	
<script type="text/javascript"  class="bestellungen" >{{bestellungen | safe}}</script>
<script type="text/javascript"  class="links" >{{links | safe}}</script>
<script type="text/javascript"  class="wishlist_quantity" >{{wishlist_quantity | safe}}</script>
<script type="text/javascript"  class="cart_quantity" >{{cart_quantity | safe}}</script>	
		<script type="text/javascript">load_header("{{login}}");links_laden("None");</script>	
</body>









</html>