{% include "header_top_emails.html" %}



<tr>
<td align="left" width="590"><font face="verdana" size="-1"><br>
                                   Vielen Dank für Deine Anmeldung bei Darling Lace, wir freuen uns auf Dich! <br><br>  Um Deine Anmeldung bei Darling Lace abzuschließen, bestätige bitte Deine E-Mail Adresse. Klicke dazu einfach auf folgenden <a href='https://www.darlinglace.com/message_click/?link={{anmeldung_bestaetigen}}' style='text-decoration:none !important;'>Link</a>.<br><br>
                            
                                    
                                    xoxo, <br>
                                    Dein Team von <b>Darling Lace</b><br><br>
            

<br>
</td>
</tr>


{% include "footer_emails.html" %}