<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% include "header.html" %}

<link rel="stylesheet" href="/static/detail_page.css" type="text/css" media="all" />

 <link type="text/css" rel="stylesheet" media="screen" href="/static/impressum.css" />

</head>
  <body onclick='reset_header()' style="font-family: 'Roboto', sans-serif;font-weight: 300;">
  




  <div class="overlay" onclick='reset_sidebar()'><div class="loader"></div> </div>
   <div class="modal_mobile_sidebar">					  
  	<div id="mySidenav" class="sidenav">

		</div>
</div> 

<div id="overall_page">

  {% include "modals.html" %}


			 {% include "header_main_body.html" %}

	
	


	<div id="x-mask_2" class="mask">

		
	
		
		<h1 style='text-align:center;font-size:20px;margin-top:30px;font-weight:500;margin-bottom:20px;padding-left:10px;padding-right:10px;'>Widerrufsbelehrung</h1>	
		
		<div class='block_gesamt_vesand'>
		<br><br>
A. WIDERRUFSRECHT<br><br>
A1 - WIDERRUFSRECHT<br><br>
Sie haben das Recht, binnen 14 Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen. <br><br>
Die Widerrufsfrist beträgt 14 Tage ab dem Tag, an dem Sie oder ein von Ihnen benannter Dritter, der nicht der Beförderer ist, die letzte Ware in Besitz genommen haben bzw. hat. <br><br>
Um Ihr Widerrufsrecht auszuüben, müssen Sie uns (MAFI Investments GmbH, Lindwurmstraße 99, 80337 München, E-Mail: service@darlinglace.com) mittels einer eindeutigen Erklärung (zum Beispiel ein mit der Post versandter Brief oder E-Mail) über Ihren Entschluss, diesen Vertrag zu widerrufen, informieren. Sie können dafür das beigefügte Muster-Widerrufsformular verwenden, das jedoch nicht vorgeschrieben ist. <br><br>
Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist absenden. <br><br>
A2 - FOLGEN DES WIDERRUFS<br><br>
Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben, einschließlich der Lieferkosten (mit Ausnahme der zusätzlichen Kosten, die sich daraus ergeben, dass Sie eine andere Art der Lieferung als die von uns angebotene, günstigste Standardlieferung gewählt haben), unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über Ihren Widerruf dieses Vertrags bei uns eingegangen ist. Für diese Rückzahlung verwenden wir dasselbe Zahlungsmittel, das Sie bei der ursprünglichen Transaktion eingesetzt haben, es sei denn, mit Ihnen wurde ausdrücklich etwas anderes vereinbart; in keinem Fall werden Ihnen wegen dieser Rückzahlung Entgelte berechnet. Wir können die Rückzahlung verweigern, bis wir die Waren wieder zurückerhalten haben oder bis Sie den Nachweis erbracht haben, dass Sie die Waren zurückgesandt haben, je nachdem, welches der frühere Zeitpunkt ist. <br><br>
Sie haben die Waren unverzüglich und in jedem Fall spätestens binnen vierzehn Tagen ab dem Tag, an dem Sie uns über den Widerruf dieses Vertrags unterrichten, an MAFI Investments GmbH, Wilhelmine-Gemberg-Weg 3, 10179 Berlin, zurückzusenden oder zu übergeben. Die Frist ist gewahrt, wenn Sie die Waren vor Ablauf der Frist von vierzehn Tagen absenden. <br><br>
Sie tragen die unmittelbaren Kosten der Rücksendung, wenn die gelieferte Ware der bestellten entspricht und Sie für den Rückversand einen anderen Versandweg als den von uns zur Verfügung gestellten Retourenschein verwenden oder die Waren aus dem Ausland zurücksenden. Wir tragen die Kosten der Rücksendung der Waren innerhalb Deutschlands, wenn Sie den über unsere Seite zur Verfügung gestellten Retourenschein verwenden. Sollten Sie den kostenfreien Retourenschein auf unserer Seite nicht finden können, wenden Sie sich an unseren Kundenservice um einen kostenfreien Retourenschein zur Rücksendung der Waren innerhalb Deutschlands zu erhalten. <br><br>
Sie müssen für einen etwaigen Wertverlust der Waren nur aufkommen, wenn dieser Wertverlust auf einen zur Prüfung der Beschaffenheit, Eigenschaften und Funktionsweise der Waren nicht notwendigen Umgang mit ihnen zurückzuführen ist. <br><br>

A3 - ALLGEMEINE HINWEISE<br><br>
Bitte vermeiden Sie Beschädigungen und Verunreinigungen der Ware. Senden Sie die Ware bitte möglichst in Originalverpackung mit sämtlichem Zubehör und mit allen Verpackungsbestandteilen an uns zurück. Verwenden Sie ggf. eine schützende Umverpackung. Wenn Sie die Originalverpackung nicht mehr besitzen, sorgen Sie bitte mit einer geeigneten Verpackung für einen ausreichenden Schutz vor Transportschäden. <br><br>
Senden Sie die Ware bitte möglichst nicht unfrei an uns zurück. <br><br>
Bitte beachten Sie, dass die vorgenannten Ziffern 1-2 nicht Voraussetzung für die wirksame Ausübung des Widerrufsrechts sind. <br><br><br>


B. WIDERRUFSFORMULAR<br><br>
Wenn Sie den Vertrag widerrufen wollen, dann füllen Sie bitte dieses Formular aus und senden Sie es zurück an<br><br>
MAFI Investments GmbH<br>
Wilhelmine-Gemberg-Weg 3<br>
10179 Berlin<br>
Deutschland<br>
E-Mail: service@darlinglace.com<br><br>

Hiermit widerrufe(n) ich/wir (*) den von mir/uns (*) abgeschlossenen Vertrag über den Kauf der folgenden Waren (*)/die Erbringung der folgenden Dienstleistung (*)<br><br><br><br>

_______________________________________________________<br><br><br><br>

_______________________________________________________<br><br><br><br>

Bestellt am (*) ____________ / erhalten am (*) __________________<br><br><br><br>

________________________________________________________<br>
Name des/der Verbraucher(s) <br><br><br><br>

________________________________________________________<br>
Anschrift des/der Verbraucher(s) <br><br><br><br>

________________________________________________________<br>
Unterschrift des/der Verbraucher(s) (nur bei Mitteilung auf Papier) <br><br><br><br>

_________________________<br>
Datum<br><br><br><br>

(*) Unzutreffendes streichen<br><br>


							
							
														
						</div>

						</div>




		
{% include "header_sub.html" %}


</div>
<div class="header_bottom_all"><div class="header_detail"><div class="header-bottom"></div></div></div>
<script type="text/javascript"  class="wishlist" >{{wishlist | safe}}</script>
<script type="text/javascript"  class="warenkorb_daten" >{{warenkorb | safe}}</script>	
<script type="text/javascript"  class="links" >{{links | safe}}</script>
<script type="text/javascript"  class="bestellungen" >{{bestellungen | safe}}</script>
<script type="text/javascript"  class="wishlist_quantity" >{{wishlist_quantity | safe}}</script>
<script type="text/javascript"  class="cart_quantity" >{{cart_quantity | safe}}</script>	
		<script type="text/javascript">load_header("{{login}}");links_laden("{{url}}");</script>
</body>





</html>










