<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


{% include "header.html" %}


<link rel="stylesheet" href="/static/detail_page.css" type="text/css" media="all" />


</head>
  

  <body style="font-family: 'Roboto', sans-serif;color: #4E4E4E;" onclick='reset_header()'>
  




  <div class="overlay" onclick='reset_sidebar()'><div class="loader"></div> </div>
   <div class="modal_mobile_sidebar">					  
  	<div id="mySidenav" class="sidenav">

		</div>
</div> 

<div id="overall_page">

  {% include "modals.html" %}


			 {% include "header_main_body.html" %}

	
	

	

	<div id="x-mask_2" class="mask">



	<div id='block_main_image_VIP'>&nbsp;</div>
	
	<h1 style='text-align:center;font-size:20px;margin-top:30px;font-weight:bold;'>Dein BH-Shopping-Erlebnis</h1>
	
	<br>
	<div class='vertical_line_group'><div class='vertical_line'>&nbsp;</div></div>
	<div class='bild_trenner_VIP_beschreibung_texte_1' >&nbsp;</div>

	<div class="box_VIP_text">
		<h2 style='line-height:20px'><b><p style='font-size:16px;'>Unser BH-Quiz</p></b>Klicke Dich durch unser BH-Quiz, damit wir Dir zu Deinen Kurven passende BHs empfehlen können</h2>
	</div>	
	<div class='vertical_line_group'><div class='vertical_line'>&nbsp;</div></div>
	<div class='bild_trenner_VIP_beschreibung_texte_2' >&nbsp;</div>
	<br>	
	<div class="box_VIP_text">
		<h2 style='line-height:20px'><b><p style='font-size:16px;'>Dein persönlicher Showroom</p></b>Finde auf Dich abgestimmte BH-Empfehlungen in Deinem Showroom</h2>
	</div>		
	<div class='vertical_line_group'><div class='vertical_line'>&nbsp;</div></div>
	<div class='bild_trenner_VIP_beschreibung_texte_3' >&nbsp;</div>
	<br>	
	<div class="box_VIP_text">
		<h2 style='line-height:20px'><b><p style='font-size:16px;'>Ganz einfach shoppen</p></b>Shoppe bei uns die neusten Styles &ndash; regulär oder als VIP Mitglied</h2>
	</div>	
	
	
	
	<div class='grauer_block'>	
		<h1 style='text-align:center;font-size:20px;margin-top:30px;font-weight:bold;padding-top:20px;'>Deine Vorteile als VIP Mitglied</h1>
		<br><br>
		
		<div style='width:100%;margin:0 auto'>
		
					<div class="spalte_VIP_beschreibung">
						<div class="spalte_VIP_main">
							<div class='box_VIP_bild_1' >&nbsp;</div>
							<div class="box_VIP_text">
								<h2 style='line-height:20px'>Jedes Set nur <b>29,95€</b></h2>
							</div>
						</div>

						<div class="spalte_VIP_main">
							<div class='box_VIP_bild_2' >&nbsp;</div>
							<div class="box_VIP_text">
								<h2 style='line-height:20px'>Jeden Monat die <b>neusten Styles</b> shoppen</h2>
							</div>
						</div>


						<div class="spalte_VIP_main">
							<div class='box_VIP_bild_3' >&nbsp;</div>
							<div class="box_VIP_text">
								<h2 style='line-height:20px'><b>Exklusive Angebote</b> und Aktionen</h2>
							</div>
						</div>
					
						<div class="spalte_VIP_main">
							<div class='box_VIP_bild_4' >&nbsp;</div>
							<div class="box_VIP_text">
								<h2 style='line-height:20px'>Jedes sechste Set <b>kostenlos</b></h2>
							</div>
						</div>
					</div>
					
					
			<div id='vorteile_als_VIP'>Als VIP Mitglied bekommst Du all Deine Lieblings-BHs in unserer top Qualität noch günstiger. Live the VIP life: Unschlagbare Preise. Monatlich neue Styles in Deinem Showroom. Exklusive Angebote und Gutschein-Codes nur für VIPs. Dazu unseren Treue-Rabatt &ndash; Wenn Du fünf Sets gekauft hast, ist das sechste kostenlos!</div>
		</div>


	</div>	
	
		<h1 style='text-align:center;font-size:20px;margin-top:30px;font-weight:bold;margin-bottom:20px;'>So funktioniert unsere VIP Mitgliedschaft</h1>	
		
		<div class='block_gesamt'>
			
			<div class='block_links_VIP'>
			<div class='box_VIP_bra' >&nbsp;</div>
			<b>Jeden Monat neue Styles</b><br>
				Erhalte monatlich unsere neuen Styles in Deinem persönlichen Showroom &ndash; für Dich als VIP zum besten Preis für <b>nur 29,95€</b> 
				
			</div>
	
	
			<div class='block_rechts_VIP'>
			<div class='box_VIP_skip' >&nbsp;</div>
			<b>Shoppe oder pausiere den Monat</b><br>
				Besuche zwischen dem 1. und dem 10. jeden Monats unsere Website und kaufe ein oder wähle in Deinem Kundenkonto einfach „Diesen Monat aussetzen“. So bleibt Deine VIP Mitgliedschaft kostenfrei.

			</div>
		</div>



		<div class='block_gesamt'>
			
			<div class='block_links_VIP'>
			<div class='box_VIP_rewards' >&nbsp;</div>
			<b>VIP Credits</b><br>
Falls Du bis zum 10. eines Monats weder gekauft noch pausiert hast, berechnen wir Dir 29,95€ für Deine Mitgliedschaft und schreiben diese als VIP Credit Deinem Kundenkonto gut. Mit Deinen Credits kannst Du auf unserer Website jederzeit einkaufen.

				
			</div>
	
	
			<div class='block_rechts_VIP'>
			<div class='box_VIP_cancel' >&nbsp;</div>
			<b>Mitgliedschaft beenden </b><br>
Du kannst jederzeit in Deinem Kundenkonto Deine VIP Mitgliedschaft beenden. Es gibt keine Frist und keine Mindestlaufzeit.


			</div>
		</div>
	
	
						<div class="spalte_VIP_beschreibung_FAQ" style='font-size:14px'>
							<b><p style='font-size:18px;text-align:center'>Fragen und Antworten zur VIP Mitgliedschaft</p></b><br>							
							<b> Was ist VIP? </b><br>
Unsere VIP Mitgliedschaft gibt Dir noch günstigere Preise und weitere Vorteile. Du erhältst auf jedes BH Set 10 € Rabatt und bekommst noch dazu jedes sechste BH Set von uns geschenkt. Du fragst Dich, wie Du diese tollen Vorteile ohne Kosten genießen kannst? Ganz einfach: Jeden Monat entweder ein BH Set kaufen, oder den Monat „pausieren“. Solltest Du vor dem 10. des Monats weder einkaufen noch in Deinem Kundenkonto die Option „pausieren“ wählen, dann wird Dir am 11. des Monats ein VIP-Mitglieder-Credit von 29,95 € berechnet, den Du jederzeit zum Einkaufen bei Darling Lace nutzen kannst. <br><br>
<b> Wie oft hintereinander kann ich pausieren? </b><br>
So oft Du willst! Wenn Du nichts kaufen möchtest, kannst Du einfach immer wieder bis zum 10. des Monats in Deinem Kundenkonto die Option „diesen Monat pausieren“ anklicken. So bleibet Deine VIP Mitgliedschaft immer kostenfrei.
<br><br>
<b> Ich habe bereits „pausieren“ gewählt, möchte aber nun doch etwas kaufen &ndash; geht das? </b> <br>
Natürlich! Du kannst jederzeit einkaufen und Deine VIP Vorteile nutzen. Lege einfach Ware in Deinen Warenkorb und gehe zum Check-Out. Du bekommst automatisch den günstigen VIP Preis berechnet und jeder Einkauf bringt Dich näher an Dein kostenloses sechstes Set.
<br><br>
<b> Muss ich jeden Monat etwas kaufen? </b><br>
Nein, natürlich nicht. Du kannst immer bis zum 10. eines Monats in Deinem Kundenkonto auswählen „diesen Monat pausieren“ &ndash; so bleibt Deine VIP Mitgliedschaft für Dich jeden Monat kostenfrei.
<br><br>
<b> Was passiert, wenn ich bis zum 10. eines Monats weder etwas kaufe noch „pausieren“ wähle? </b><br>
Wenn Du bis zum 10. eines Monats weder ein BH Set kaufst noch „pausieren“ wählst, dann wird Dir am 11. des Monats ein VIP-Mitglieder-Credit von 29,95 € berechnet, den Du jederzeit zum Einkaufen bei Darling Lace nutzen kannst. Den Betrag buchen wir von Deinem hinterlegten Zahlungsmittel ab und schreiben ihn Dir umgehend auf Deinem Kundenkonto als VIP-Guthaben gut. Solltest Du einmal vergessen bis zum 10. eines Monats „pausieren“ zu wählen und möchtest nichts kaufen, dann kannst Du jederzeit die Auszahlung Deines VIP Guthabens in Deinem Kundenkonto wählen. Wir erstatten Dir Dein VIP Guthaben umgehend zurück &ndash; ohne Wenn und Aber, jederzeit.
<br><br>
<b> Verfällt VIP-Guthaben bei Darling Lace? </b> <br>
Nein, natürlich nicht! VIP-Guthaben hast Du bei uns eingezahlt und kannst es jederzeit zum Einkaufen nutzen, es verfällt nie.

<br><br>
<b> Wie kann ich VIP kündigen? </b><br>
Du kannst jederzeit in Deinem Kundenkonto die VIP Mitgliedschaft beenden. Es gibt keine Frist und keine Mindestlaufzeit. Von Dir bereits bezahltes und noch nicht zum Einkaufen genutztes VIP-Guthaben wird Dir natürlich erstattet.
<br><br>

							
							

							
							
														
						</div>
		


	</div>
	

	
	</div>






{% include "header_sub.html" %}



<div class="header_bottom_all"><div class="header_detail"><div class="header-bottom"></div></div></div>

</body>
<script type="text/javascript"  class="wishlist_quantity" >{{wishlist_quantity | safe}}</script>
<script type="text/javascript"  class="cart_quantity" >{{cart_quantity | safe}}</script>

<script type="text/javascript"  class="shippo_data" >{{shippo_data | safe}}</script>
<script type="text/javascript"  class="lingerie_data" >{{lingerie_offerings | safe}}</script>
<script type="text/javascript"  class="warenkorb_daten" >{{warenkorb | safe}}</script>	
<script type="text/javascript"  class="colors" >{{colors | safe}}</script>	
<script type="text/javascript"  class="links" >{{links | safe}}</script>
<script type="text/javascript"  class="wishlist" >{{wishlist | safe}}</script>
<script type="text/javascript"  class="bestellungen" >{{bestellungen | safe}}</script>

<script type="text/javascript">load_header("{{login}}");links_laden("{{url}}");</script>


</html>